@import url('http://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display:flex;
    justify-content:center;
    
    align-items:center;
    height: 100vh;
    background-color:black;
}


.container {
    background: rgb(15,15,15);
    width: 350px;
    height: 450px;
    color:white;
    padding: 2em;
display:flex;
justify-content: center;
align-items: center;
flex-direction:column;
}
.heading{
    margin-bottom:3em;
    text-align: center;
}
#btn-register,#btn-login{
    width:70px;
    height: 50px;
    border-radius: 10px;
    margin: 0.5em 0;
    cursor:pointer;
    color:white;
    background: linear-gradient(to right, #ff416c, #ff4b2b);

}