* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.body {
  background-image: -webkit-gradient(linear, left top, right top, from(#000428), to(#004e92));
  background-image: linear-gradient(to right, #000428, #004e92);
}

header h2 {
  text-align: center;
  color: white;
  background-color: blue;
  padding: 0.2em;
}

header span {
  width: 50px;
  height: 50px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

.container__aside {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.container__aside__form__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 1em 110px 1em;
  margin: 0.5em 3em 0 4em;
}

.container__aside__form__fieldset legend {
  text-align: center;
  color: white;
}

.container__aside__form__fieldset label {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.container__aside__form__fieldset input {
  margin-top: 10px;
  border-radius: 10px;
  padding: 0.2em;
  text-indent: 0.2em;
  text-align: center;
}

.container__aside__form__fieldset--btn {
  position: relative;
  display: block;
  width: 150px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  margin: 1.5em auto 0 auto;
  text-transform: uppercase;
}

.container__aside__form__fieldset--btn:hover {
  opacity: 0.7;
}

.container__main {
  margin-top: 1em;
}

.container__main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__main__actions button {
  padding: 0.3em;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  cursor: pointer;
}

.container__main__actions button:hover {
  opacity: 0.7;
}

.container__main__actions__search {
  margin-left: 2em;
}

.container__main__actions__search label {
  color: white;
}

.container__main__actions__search input {
  border-radius: 10px;
  padding: 0.2em;
  text-indent: 0.2em;
  text-align: center;
}

.container__main__actions__search button {
  padding: 0.3em;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  cursor: pointer;
}

.container__main__actions__search button:hover {
  opacity: 0.7;
}

.container__main--board {
  margin-top: 1em;
  width: 900px;
  height: 450px;
}

#students {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#students td,
#students th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#students tr:nth-child(even) {
  background-color: black;
  color: whitesmoke;
}

#students tr:nth-child(odd) {
  background-color: white;
  color: black;
}

/*#students tr:hover {background-color: #ddd;}*/
#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1c89ff;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */