

body{
    background-color: #222;
    
}

*{
    
    list-style: none;
    text-decoration: none;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.budget-container{
    position: absolute;
    width: 360px;
    height: 780px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #34006a;


    .app-title{
        margin-top: 45px;
        margin-left: 20px;

        .a{
            color: #FFF; 
        }
    }
}


.budget-header{

    .balance{
        margin-top: 45px;
        margin-left: 20px;
        color: #FFF;
        font-size: 1em;
    }

    .title{
        color: #FFF;
        font-size: 1em;
       
    }

    .value{
        color: #FFF;
        font-size: 2em;
        margin-top: 10px;
        font-family: 'Gilroy Bold';
    }

    .account{
        display: block;
        width: 310px;
        margin: 35px auto 0;
        line-height: 1.7em;
        text-align: center;
        
    }

    .income, .chart, .outcome{
        height: 50px;
        display: inline-block;
        width: 100px;
        vertical-align: middle;
    }

    .account .income .title{
        color: #FFF;
        opacity: 0.5;
    }

    .account .income .income-total{
        color: #FFF;
        
    }

    .account .outcome .title{
        color: #FFF;
        opacity: 0.5;
    }

    .account .outcome .outcome-total{
        color: #f0624d;
        font-family: 'Gilroy Bold';
    }
}

/*/////////////   DASHBOARD    /////////////*/
.budget-dashboard{
    display: block;
    width: 360px;
    height: 470px;
    background-color: #FFF;
    margin-top: 35px;
    border-radius: 30px 30px 0 0;

    .dash-title{
        display: inline-block;
        color: #1a0034;
        font-size: 1.7em;
        margin-left: 20px;
        margin-top: 30px;
        font-family: 'Gilroy Bold';
    }

    .input{
        /* MAKE INPUT SELECTABLE */
        -webkit-user-select: auto;      
        -moz-user-select: auto;
        -ms-user-select: auto;
        user-select: auto;
    }
    #all{
        width: 360px;
        height: 339px;
        position: relative;

        .ul{
            width: 360px;
            height: 285px;
            list-style: none;
            margin: 0;
            padding: 0;
            margin-top:20px;
            overflow-x: auto;
            .list li{
                position: relative;
                font-size: 1em;
                *{
                    display: inline-block;
                    height: 30px;
                    vertical-align: middle;
                }

                .entry{
                    width:250px;
                    height: auto;
                    padding-left: 20px;
                    margin-bottom: 10px;;
                    word-wrap: break-word;
                    font-family: 'Gilroy Bold';
                }

                #edit{
                    visibility: hidden;
                }

                #delete{
                    position: absolute;
                    width:20px;
                    height: 20px;
                    right: 20px;
                    cursor: pointer;
                    background-image: url('./icon/trash.png');
                    background-size: 20px 20px;
                    background-repeat: no-repeat;
                }
                .expense{
                    color: #f0624d;
                }

            }
        }
    }

    #expense{
        width: 360px;
        height: 339px;
        position: relative;
        ul{
            width: 360px;
            height: 285px;
            list-style: none;
            margin: 0;
            padding: 0;
            margin-top:20px;
            overflow-x: auto;
            .list li{
                position: relative;
                font-size: 1em;
                *{
                    display: inline-block;
                    height: 30px;
                    vertical-align: middle;
                }

                .entry{
                    width:250px;
                    height: auto;
                    padding-left: 20px;
                    margin-bottom: 10px;;
                    word-wrap: break-word;
                    font-family: 'Gilroy Bold';
                    color: #f0624d;
                }

                #edit{
                    position: absolute;
                    width:20px;
                    height: 20px;
                    right: 50px;
                    cursor: pointer;
                    background-image: url("icon/edit.png");
                    background-size: 20px 20px;
                    background-repeat: no-repeat;
                }
                #delete{
                    position: absolute;
                    width:20px;
                    height: 20px;
                    right: 20px;
                    cursor: pointer;
                    background-image: url('icon/trash.png');
                    background-size: 20px 20px;
                    background-repeat: no-repeat;
                }
                
            }
        }
        .input{
            position: absolute;
            display: block;
            width: 360px;
            bottom: 0;
            border-top: 1px solid #ccc;

            *{
                display: inline-block;
                vertical-align: middle;
            }

            input#expense-title-input{
                height: 40px;
                width : 150px;
                padding-left: 10px;
                font-size: 1.2em;
                font-family: 'Gilroy';
                margin: 5px;
                margin-left: 10px;
                border-radius: 10px 0 0 10px;
                border: none;
            }

            input#expense-amount-input{
                height: 40px;
                width : 110px;
                padding-left: 10px;
                font-size: 1.2em;
                font-family: 'Gilroy';
                margin: 5px;
                margin-left: -10px;
                border-radius: 0 10px 10px 0;
                border: none;
            }
            .add-expense img{
                width: 40px;
                height: 40px;
                cursor: pointer;
            }
        }
    }


    /* /////// INCOME //////// */

    #income{
        width: 360px;
        height: 339px;
        position: relative;

        ul{
            width: 360px;
            height: 285px;
            list-style: none;
            margin: 0;
            padding: 0;
            margin-top:20px;
            overflow-x: auto;

            .list li{
                position: relative;
                font-size: 1em;
                *{
                    display: inline-block;
                    height: 30px;
                    vertical-align: middle;
                }

                .entry{
                    width:250px;
                    height: auto;
                    padding-left: 20px;
                    margin-bottom: 10px;;
                    word-wrap: break-word;
                    font-family: 'Gilroy Bold';
                }

                #edit{
                    position: absolute;
                    width:20px;
                    height: 20px;
                    right: 50px;
                    cursor: pointer;
                    background-image: url("./icon/edit.png");
                    background-size: 20px 20px;
                    background-repeat: no-repeat;
                }

                #delete{
                    position: absolute;
                    width:20px;
                    height: 20px;
                    right: 20px;
                    cursor: pointer;
                    background-image: url("./icon/trash.png");
                    background-size: 20px 20px;
                    background-repeat: no-repeat;
                }
            }
        }

        .input{
            position: absolute;
            display: block;
            width: 360px;
            bottom: 0;
            border-top: 1px solid #ccc;
            *{
                display: inline-block;
                vertical-align: middle;
            }

            input#income-title-input{
                height: 40px;
                width : 150px;
                padding-left: 10px;
                font-size: 1.2em;
                font-family: 'Gilroy';
                margin: 5px;
                margin-left: 10px;
                border-radius: 10px 0 0 10px;
                border: none;
            }
            input#income-amount-input{
                height: 40px;
                width : 110px;
                padding-left: 10px;
                font-size: 1.2em;
                font-family: 'Gilroy';
                margin: 5px;
                margin-left: -10px;
                border-radius: 0 10px 10px 0;
                border: none;
            }

            .add-income img{
                width: 40px;
                height: 40px;
                cursor: pointer;
            }
        }
    }


}

.toggle{
    display: block;
    margin-top: 30px;
    margin-left: 20px;

    .tab1, .tab2, .tab3{
        display: inline-block;
        cursor: pointer;
        font-size: 1.1em;
        color: #1a0034;
        font-family: 'Gilroy Bold';
        opacity: 0.4;
    }
    .tab2, .tab3{
        margin-left: 10px;
    }
}


.active{
    opacity : 1 !important;
}

.hide{
    display: none;
}
