* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 600px 300px 300px;
    grid-template-rows: 170px 170px;
    grid-row-gap: 7px;
    grid-column-gap: 12px;
    margin-left: 15px;
    margin-bottom: 20px;
    grid-template-areas:
        "main ball anfitriones"
        "main teams groups";

    &--imagesize {
        width: 100%;
        height: 100%;

    }

    &__bigimage {
        grid-area: main;
    }

    &__firstimage {
        grid-area: ball;

    }

    &__secondimage {
        grid-area: anfitriones;

    }

    &__thirdimage {
        grid-area: teams;

    }

    &__fourthimage {
        grid-area: groups;

    }

    &__bigimage__textblock {
        position: relative;
        bottom: 120px;
        left: 9px;

        h2 {
            font-size: 28px;
            margin-bottom: 10px;
            font-weight: bold;
            margin-left: -5px;
        }

        p {

            font-size: 22px;
            margin-bottom: 18px;
        }

        span {
            border-left: 2px solid red;
            display: block;
            padding-left: 5px;
            font-size: 14px;
        }

    }

    &__smallimage__textblock {
        position: relative;
        bottom: 80px;

        h2 {
            position: absolute;
            font-size: 22px;
            margin-bottom: 2px;
            font-weight: bold;
            color: black;
            left: 8px;
            top: 8px;
        }

        p {
            position: absolute;
            font-size: 15px;
            top: 35px;
            margin-bottom: 7px;
            left: 8px;
            color: black;
        }

        span {
            position: absolute;
            border-left: 2px solid red;
            display: block;
            padding-left: 5px;
            font-size: 10px;
            color: black;
            font-weight: bold;
            top: 60px;
            left: 8px;
        }


    }

}

header {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: black;
    padding-left: 1%;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: space-around;
    margin: 2px;
    height: 25px;
    width: 25px;
    background-color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 25px 0px 0px 15px;
    color: #4a4a4a;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.title-stadium {
    margin: 50px 0px 0px 15px;
    color: #4a4a4a;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-left: 5px solid blue;
    padding-left: 4px;
    line-height: 20px;
}



.stadium {
    display: grid;
    grid-template-columns: repeat(3, 261px);
    grid-template-rows: 200px 50px 100px 50px;
    grid-row-gap: 7px;
    grid-column-gap: 12px;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    grid-template-areas:
        "baku_img sevilla_img wembley_img"
        "baku_h3  sevilla_h3 wembley_h3"
        "baku_p  sevilla_p wembley_p"
        "baku_span sevilla_span wembley_span";

    &__baku_img {
        grid-area: baku_img;

    }

    &__baku_h3 {
        grid-area: baku_h3;

    }

    &__baku_p {
        grid-area: baku_p;

    }

    &__baku_span {
        grid-area: baku_span;

    }

    &__sevilla_img {
        grid-area: sevilla_img;

    }

    &__sevilla_h3 {
        grid-area: sevilla_h3;

    }

    &__sevilla_p {
        grid-area: sevilla_p;

    }

    &__sevilla_span {
        grid-area: sevilla_span;

    }

    &__wembley_img {
        grid-area: wembley_img;

    }

    &__wembley_h3 {
        grid-area: wembley_h3;

    }

    &__wembley_p {
        grid-area: wembley_p;

    }

    &__wembley_span {
        grid-area: wembley_span;

    }

    h3 {
        color: #212121;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        margin: 5px 0 10px 0;
    }

    p {
        color: #212121;
        font-size: 14px;
        text-align: left;
    }

    span {
        border-left: 2px solid red;
        display: block;
        padding-left: 4px;
        font-size: 10px;
        color: black;
        font-weight: bold;
        margin-top: 70px;
    }
}


@media only screen and (max-width: 768px) and (min-width:400px) {

    header {
        display: flex;
        align-items: center;
        height: 40px;
        background-color: black;
        padding-left: 1%;
    }

    h1 {
        margin: 25px 0px 0px 70px;
        color: #4a4a4a;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    }

    .main {
        grid-template-columns: 300px 300px;
        grid-row-gap: 7px;
        margin: 0 0 0 70px;

        
        grid-template-areas:
            "main main"
            "ball anfitriones"
            "teams groups";

        &__bigimage__textblock {
            position: relative;
            bottom: 75px;
            left: 9px;

            h2 {
                font-size: 15px;
                margin-bottom: 10px;
                font-weight: bold;
                margin-left: -5px;
            }

            p {

                font-size: 10px;
                margin-bottom: 18px;
            }

            span {
                border-left: 2px solid red;
                display: block;
                padding-left: 5px;
                font-size: 8px;
            }

        }

        &__smallimage__textblock {
            position: relative;
            bottom: 80px;

            h2 {
                position: absolute;
                font-size: 16px;
                margin-bottom: 2px;
                font-weight: bold;
                color: black;
                left: 8px;
                top: 8px;
            }

            p {
                position: absolute;
                font-size: 10px;
                top: 40px;
                margin-bottom: 7px;
                left: 8px;
                color: black;
            }

            span {
                position: absolute;
                border-left: 2px solid red;
                display: block;
                padding-left: 5px;
                font-size: 8px;
                color: black;
                font-weight: bold;
                top: 60px;
                left: 8px;
            }


        }

        

        }

        .title-stadium {
            margin: 50px 0px 10px 300px;
            color: #4a4a4a;
            font-size: 22px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            border-left: 5px solid blue;
            padding-left: 4px;
            line-height: 20px;
        }

        .stadium {
            grid-template-columns: 400px;
            margin: 0 0 0 175px;
            grid-row-gap: 7px;
            grid-template-areas:
                "baku_img"
                "baku_h3"
                "baku_p"
                "baku_span"
                "sevilla_img"
                "sevilla_h3"
                "sevilla_p"
                "sevilla_span"
                "wembley_img"
                "wembley_h3"
                "wembley_p"
                "wembley_span";

            &__baku_img {
                grid-area: baku_img;

            }

            &__baku_h3 {
                grid-area: baku_h3;

            }

            &__baku_p {
                grid-area: baku_p;

            }

            &__baku_span {
                grid-area: baku_span;

            }

            &__sevilla_img {
                grid-area: sevilla_img;

            }

            &__sevilla_h3 {
                grid-area: sevilla_h3;

            }

            &__sevilla_p {
                grid-area: sevilla_p;

            }

            &__sevilla_span {
                grid-area: sevilla_span;

            }

            &__wembley_img {
                grid-area: wembley_img;

            }

            &__wembley_h3 {
                grid-area: wembley_h3;

            }

            &__wembley_p {
                grid-area: wembley_p;

            }

            &__wembley_span {
                grid-area: wembley_span;

            }

            h3 {
                color: #212121;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                text-align: left;
            }
        
            p {
                color: #212121;
                font-size: 14px;
                text-align: left;
            }
        
            span {
                border-left: 2px solid red;
                display: block;
                padding-left: 4px;
                font-size: 10px;
                color: black;
                font-weight: bold;
                margin-top: 12px;
            }
    }
}



@media only screen and (max-width: 400px)  {

    header {
        display: flex;
        align-items: center;
        width: 420px;
        height: 40px;
        background-color: black;
        padding-left: 1%;
    }

    h1 {
        margin: 25px 0px 0px 5px;
        color: #4a4a4a;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    }

    .main {
        grid-template-columns: 400px;
        grid-row-gap: 7px;
        width: 400px;
        margin: 0 0 0 5px;
        
        grid-template-areas:
            "main"
            "ball"
            "anfitriones"
            "teams"
            "groups";

        &__bigimage__textblock {
            position: relative;
            bottom: 75px;
            left: 9px;

            h2 {
                font-size: 15px;
                margin-bottom: 10px;
                font-weight: bold;
                margin-left: -5px;
            }

            p {

                font-size: 10px;
                margin-bottom: 18px;
            }

            span {
                border-left: 2px solid red;
                display: block;
                padding-left: 5px;
                font-size: 8px;
            }

        }

        &__smallimage__textblock {
            position: relative;
            bottom: 80px;

            h2 {
                position: absolute;
                font-size: 16px;
                margin-bottom: 2px;
                font-weight: bold;
                color: black;
                left: 8px;
                top: 8px;
            }

            p {
                position: absolute;
                font-size: 10px;
                top: 40px;
                margin-bottom: 7px;
                left: 8px;
                color: black;
            }

            span {
                position: absolute;
                border-left: 2px solid red;
                display: block;
                padding-left: 5px;
                font-size: 8px;
                color: black;
                font-weight: bold;
                top: 60px;
                left: 8px;
            }


        }

        

        }

        .title-stadium {
            margin: 50px 0px 10px 5px;
            color: #4a4a4a;
            font-size: 22px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            border-left: 5px solid blue;
            padding-left: 4px;
            line-height: 20px;
        }

        .stadium {
            grid-template-columns: 400px;
            margin: 0 0 0 5px;
            grid-row-gap: 7px;
            grid-template-areas:
                "baku_img"
                "baku_h3"
                "baku_p"
                "baku_span"
                "sevilla_img"
                "sevilla_h3"
                "sevilla_p"
                "sevilla_span"
                "wembley_img"
                "wembley_h3"
                "wembley_p"
                "wembley_span";

            &__baku_img {
                grid-area: baku_img;

            }

            &__baku_h3 {
                grid-area: baku_h3;

            }

            &__baku_p {
                grid-area: baku_p;

            }

            &__baku_span {
                grid-area: baku_span;

            }

            &__sevilla_img {
                grid-area: sevilla_img;

            }

            &__sevilla_h3 {
                grid-area: sevilla_h3;

            }

            &__sevilla_p {
                grid-area: sevilla_p;

            }

            &__sevilla_span {
                grid-area: sevilla_span;

            }

            &__wembley_img {
                grid-area: wembley_img;

            }

            &__wembley_h3 {
                grid-area: wembley_h3;

            }

            &__wembley_p {
                grid-area: wembley_p;

            }

            &__wembley_span {
                grid-area: wembley_span;

            }

            h3 {
                color: #212121;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                text-align: left;
            }
        
            p {
                color: #212121;
                font-size: 14px;
                text-align: left;
            }
        
            span {
                border-left: 2px solid red;
                display: block;
                padding-left: 4px;
                font-size: 10px;
                color: black;
                font-weight: bold;
                margin-top: 12px;
            }
    }
}











.title-lastwinners {
    margin: 250px 0px 0px 15px;
    color: #4a4a4a;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-left: 5px solid yellowgreen;
    padding-left: 4px;
    line-height: 20px;
}