* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 600px 300px 300px;
      grid-template-columns: 600px 300px 300px;
  -ms-grid-rows: 170px 170px;
      grid-template-rows: 170px 170px;
  grid-row-gap: 7px;
  grid-column-gap: 12px;
  margin-left: 15px;
  margin-bottom: 20px;
      grid-template-areas: "main ball anfitriones"
 "main teams groups";
}

.main--imagesize {
  width: 100%;
  height: 100%;
}

.main__bigimage {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.main__firstimage {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ball;
}

.main__secondimage {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: anfitriones;
}

.main__thirdimage {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: teams;
}

.main__fourthimage {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: groups;
}

.main__bigimage__textblock {
  position: relative;
  bottom: 120px;
  left: 9px;
}

.main__bigimage__textblock h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-left: -5px;
}

.main__bigimage__textblock p {
  font-size: 22px;
  margin-bottom: 18px;
}

.main__bigimage__textblock span {
  border-left: 2px solid red;
  display: block;
  padding-left: 5px;
  font-size: 14px;
}

.main__smallimage__textblock {
  position: relative;
  bottom: 80px;
}

.main__smallimage__textblock h2 {
  position: absolute;
  font-size: 22px;
  margin-bottom: 2px;
  font-weight: bold;
  color: black;
  left: 8px;
  top: 8px;
}

.main__smallimage__textblock p {
  position: absolute;
  font-size: 15px;
  top: 35px;
  margin-bottom: 7px;
  left: 8px;
  color: black;
}

.main__smallimage__textblock span {
  position: absolute;
  border-left: 2px solid red;
  display: block;
  padding-left: 5px;
  font-size: 10px;
  color: black;
  font-weight: bold;
  top: 60px;
  left: 8px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background-color: black;
  padding-left: 1%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  color: white;
  text-decoration: none;
  margin-left: 350px;
}

.navbar__item {
  background-color: black;
  color: white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 10px;
  text-align: center;
  list-style: none;
}

.navbar__item--home:hover {
  background-color: gray;
  cursor: pointer;
}

.navbar__item--main:hover {
  background-color: gray;
  cursor: pointer;
}

.navbar__item--stadium:hover {
  background-color: gray;
  cursor: pointer;
}

.navbar__item--champions:hover {
  background-color: gray;
  cursor: pointer;
}
menu__logo--box
.logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2px;
  height: 25px;
  width: 25px;
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 25px 0px 0px 15px;
  color: #4a4a4a;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.title-stadium,
.title-champions {
  margin: 60px 0px 30px 15px;
  color: #4a4a4a;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-left: 5px solid blue;
  padding-left: 4px;
  line-height: 20px;
}

.stadium {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (261px)[3];
      grid-template-columns: repeat(3, 261px);
  -ms-grid-rows: 200px 50px 100px 50px;
      grid-template-rows: 200px 50px 100px 50px;
  grid-row-gap: 7px;
  grid-column-gap: 12px;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
      grid-template-areas: "baku_img sevilla_img wembley_img"
 "baku_h3  sevilla_h3 wembley_h3"
 "baku_p  sevilla_p wembley_p"
 "baku_span sevilla_span wembley_span";
}

.stadium__baku_img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: baku_img;
}

.stadium__baku_h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: baku_h3;
}

.stadium__baku_p {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: baku_p;
}

.stadium__baku_span {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: baku_span;
}

.stadium__sevilla_img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: sevilla_img;
}

.stadium__sevilla_h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: sevilla_h3;
}

.stadium__sevilla_p {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: sevilla_p;
}

.stadium__sevilla_span {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: sevilla_span;
}

.stadium__wembley_img {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: wembley_img;
}

.stadium__wembley_h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: wembley_h3;
}

.stadium__wembley_p {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: wembley_p;
}

.stadium__wembley_span {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: wembley_span;
}

.stadium h3 {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin: 5px 0 10px 0;
}

.stadium p {
  color: #212121;
  font-size: 14px;
  text-align: left;
}

.stadium span {
  border-left: 2px solid red;
  display: block;
  padding-left: 4px;
  font-size: 10px;
  color: black;
  font-weight: bold;
  margin-top: 70px;
}

.champions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (261px)[3];
      grid-template-columns: repeat(3, 261px);
  -ms-grid-rows: 200px 50px 100px 50px;
      grid-template-rows: 200px 50px 100px 50px;
  grid-row-gap: 7px;
  grid-column-gap: 12px;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 60px;
      grid-template-areas: "portugal_img esp2012_img esp2008_img"
 "portugal_h3  esp2012_h3 esp2008_h3"
 "portugal_p  esp2012_p esp2008_p"
 "portugal_span esp2012_span esp2008_span";
}

.champions__portugal_img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: portugal_img;
}

.champions__portugal_h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: portugal_h3;
}

.champions__portugal_p {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: portugal_p;
}

.champions__portugal_span {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: portugal_span;
}

.champions__esp2012_img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: esp2012_img;
}

.champions__esp2012_h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: esp2012_h3;
}

.champions__esp2012_p {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: esp2012_p;
}

.champions__esp2012_span {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: esp2012_span;
}

.champions__esp2008_img {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: esp2008_img;
}

.champions__esp2008_h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: esp2008_h3;
}

.champions__esp2008_p {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: esp2008_p;
}

.champions__esp2008_span {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: esp2008_span;
}

.champions h3 {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin: 5px 0 10px 0;
}

.champions p {
  color: #212121;
  font-size: 14px;
  text-align: left;
}

.champions span {
  border-left: 2px solid red;
  display: block;
  padding-left: 4px;
  font-size: 10px;
  color: black;
  font-weight: bold;
  margin-top: 70px;
}

@media screen and (max-width: 1200px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1300px;
    height: 40px;
    background-color: black;
    padding-left: 1%;
  }
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    color: white;
    text-decoration: none;
    margin-left: px;
  }
  .navbar__item {
    background-color: black;
    color: white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 10px;
    text-align: center;
    list-style: none;
  }
  .navbar__item--home:hover {
    background-color: gray;
    cursor: pointer;
  }
  .navbar__item--main:hover {
    background-color: gray;
    cursor: pointer;
  }
  .navbar__item--stadium:hover {
    background-color: gray;
    cursor: pointer;
  }
  .navbar__item--champions:hover {
    background-color: gray;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 768px;
    height: 40px;
    background-color: black;
    padding-left: 1%;
  }
  h1 {
    margin: 25px 0px 0px 70px;
    color: #4a4a4a;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  .main {
    -ms-grid-columns: 300px 300px;
        grid-template-columns: 300px 300px;
    grid-row-gap: 7px;
    margin: 0 0 0 70px;
        grid-template-areas: "main main"
 "ball anfitriones"
 "teams groups";
  }
  .main__bigimage__textblock {
    position: relative;
    bottom: 75px;
    left: 9px;
  }
  .main__bigimage__textblock h2 {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: -5px;
  }
  .main__bigimage__textblock p {
    font-size: 10px;
    margin-bottom: 18px;
  }
  .main__bigimage__textblock span {
    border-left: 2px solid red;
    display: block;
    padding-left: 5px;
    font-size: 8px;
  }
  .main__smallimage__textblock {
    position: relative;
    bottom: 80px;
  }
  .main__smallimage__textblock h2 {
    position: absolute;
    font-size: 16px;
    margin-bottom: 2px;
    font-weight: bold;
    color: black;
    left: 8px;
    top: 8px;
  }
  .main__smallimage__textblock p {
    position: absolute;
    font-size: 10px;
    top: 40px;
    margin-bottom: 7px;
    left: 8px;
    color: black;
  }
  .main__smallimage__textblock span {
    position: absolute;
    border-left: 2px solid red;
    display: block;
    padding-left: 5px;
    font-size: 8px;
    color: black;
    font-weight: bold;
    top: 60px;
    left: 8px;
  }
  .title-stadium,
  .title-champions {
    margin: 50px 0px 10px 300px;
    color: #4a4a4a;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-left: 5px solid blue;
    padding-left: 4px;
    line-height: 20px;
  }
  .stadium {
    -ms-grid-columns: 400px;
        grid-template-columns: 400px;
    margin: 0 0 0 175px;
    grid-row-gap: 7px;
        grid-template-areas: "baku_img"
 "baku_h3"
 "baku_p"
 "baku_span"
 "sevilla_img"
 "sevilla_h3"
 "sevilla_p"
 "sevilla_span"
 "wembley_img"
 "wembley_h3"
 "wembley_p"
 "wembley_span";
  }
  .stadium h3 {
    color: #212121;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }
  .stadium p {
    color: #212121;
    font-size: 14px;
    text-align: left;
  }
  .stadium span {
    border-left: 2px solid red;
    display: block;
    padding-left: 4px;
    font-size: 10px;
    color: black;
    font-weight: bold;
    margin-top: 12px;
  }
  .champions {
    -ms-grid-columns: 400px;
        grid-template-columns: 400px;
    margin: 0 0 0 175px;
    grid-row-gap: 7px;
        grid-template-areas: "portugal_img"
 "portugal_h3"
 "portugal_p"
 "portugal_span"
 "esp2012_img"
 "esp2012_h3"
 "esp2012_p"
 "esp2012_span"
 "esp2008_img"
 "esp2008_h3"
 "esp2008_p"
 "esp2008_span";
  }
  .champions h3 {
    color: #212121;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }
  .champions p {
    color: #212121;
    font-size: 14px;
    text-align: left;
  }
  .champions span {
    border-left: 2px solid red;
    display: block;
    padding-left: 4px;
    font-size: 10px;
    color: black;
    font-weight: bold;
    margin-top: 12px;
  }
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    color: white;
    text-decoration: none;
    margin-left: 100px;
  }
  .navbar__item {
    background-color: black;
    color: white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 10px;
    text-align: center;
    list-style: none;
  }
}

@media only screen and (max-width: 400px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 400px;
    height: 40px;
    background-color: black;
    padding-left: 1%;
  }
  h1 {
    margin: 25px 0px 0px 5px;
    color: #4a4a4a;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  .main {
    -ms-grid-columns: 400px;
        grid-template-columns: 400px;
    grid-row-gap: 7px;
    width: 400px;
    margin: 0 0 0 5px;
        grid-template-areas: "main"
 "ball"
 "anfitriones"
 "teams"
 "groups";
  }
  .main__bigimage__textblock {
    position: relative;
    bottom: 75px;
    left: 9px;
  }
  .main__bigimage__textblock h2 {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: -5px;
  }
  .main__bigimage__textblock p {
    font-size: 10px;
    margin-bottom: 18px;
  }
  .main__bigimage__textblock span {
    border-left: 2px solid red;
    display: block;
    padding-left: 5px;
    font-size: 8px;
  }
  .main__smallimage__textblock {
    position: relative;
    bottom: 80px;
  }
  .main__smallimage__textblock h2 {
    position: absolute;
    font-size: 16px;
    margin-bottom: 2px;
    font-weight: bold;
    color: black;
    left: 8px;
    top: 8px;
  }
  .main__smallimage__textblock p {
    position: absolute;
    font-size: 10px;
    top: 40px;
    margin-bottom: 7px;
    left: 8px;
    color: black;
  }
  .main__smallimage__textblock span {
    position: absolute;
    border-left: 2px solid red;
    display: block;
    padding-left: 5px;
    font-size: 8px;
    color: black;
    font-weight: bold;
    top: 60px;
    left: 8px;
  }
  .title-stadium,
  .title-champions {
    margin: 50px 0px 10px 5px;
    color: #4a4a4a;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-left: 5px solid blue;
    padding-left: 4px;
    line-height: 20px;
  }
  .stadium {
    -ms-grid-columns: 400px;
        grid-template-columns: 400px;
    margin: 0 0 0 5px;
    grid-row-gap: 7px;
        grid-template-areas: "baku_img"
 "baku_h3"
 "baku_p"
 "baku_span"
 "sevilla_img"
 "sevilla_h3"
 "sevilla_p"
 "sevilla_span"
 "wembley_img"
 "wembley_h3"
 "wembley_p"
 "wembley_span";
  }
  .stadium h3 {
    color: #212121;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }
  .stadium p {
    color: #212121;
    font-size: 14px;
    text-align: left;
  }
  .stadium span {
    border-left: 2px solid red;
    display: block;
    padding-left: 4px;
    font-size: 10px;
    color: black;
    font-weight: bold;
    margin-top: 12px;
  }
  .champions {
    -ms-grid-columns: 400px;
        grid-template-columns: 400px;
    margin: 0 0 0 5px;
    grid-row-gap: 7px;
        grid-template-areas: "portugal_img"
 "portugal_h3"
 "portugal_p"
 "portugal_span"
 "esp2012_img"
 "esp2012_h3"
 "esp2012_p"
 "esp2012_span"
 "esp2008_img"
 "esp2008_h3"
 "esp2008_p"
 "esp2008_span";
  }
  .champions h3 {
    color: #212121;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }
  .champions p {
    color: #212121;
    font-size: 14px;
    text-align: left;
  }
  .champions span {
    border-left: 2px solid red;
    display: block;
    padding-left: 4px;
    font-size: 10px;
    color: black;
    font-weight: bold;
    margin-top: 12px;
  }
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    color: white;
    text-decoration: none;
    margin-left: 45px;
  }
  .navbar__item {
    background-color: black;
    color: white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 10px;
    text-align: center;
    list-style: none;
  }
}
/*# sourceMappingURL=stylebbc.css.map */