html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: blueviolet;
    font-size: 2rem;

}

p {
    font-weight: 300;
    font-size: 1.5rem;
}

.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}



h1 {
    font-size: 4rem;
    color: #ffffff;
    font-weight: 700;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
    text-align: center;
}

 /* YS: What are these files? */