body {
    font-size: 18px;
    background-color: rgb(248, 248, 248);
    padding: 1%;
}

button {
    text-decoration: none;
    background: none;
    color: rgb(123, 131, 158);
    font-weight: bolder;
    // padding: 1.5%;
    // margin-left: 1%;
    // margin-right: 1%;
    border: none;
    font-size: 4rem;

  

}
button:hover {
   color: blanchedalmond;

}


.nav {

    display: flex;
    align-items: center;

    &__item {

        // &:visited {
        //     color: cyan;
        //   }
        &--button {
            text-decoration: none;
            background-color: rgb(13, 68, 68);
            color: white;
            font-weight: bolder;
            padding: 1%;
            margin-left: 1%;
            margin-right: 1%;
            border: solid black 1%;

            &:hover {
                background-color: blanchedalmond;

            }
        }

    }
}

.heading {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 2%;

    &__item {
        margin: 1%;
        padding: .5%;

        &--button {
            background-color: rgb(13, 68, 68);
            color: white;
            font-weight: bolder;
            padding: 2%;
            margin-left: 1%;
            margin-right: 1%;

        }
    }
}

.customer__profile {
    margin: 3%;
    width: 40%;
    margin: auto;

    p {
        background-color: rgb(255, 255, 255);
        margin-top: .5%;

    }
}

.customer__list {
    display: flex;
    flex-flow: column;
    margin: 3%;
    width: 80%;
    margin: auto;



    p {
        background-color: rgb(255, 255, 255);
        margin: .5%;
        padding: .5%;
        text-transform: capitalize;
        font-weight: bolder;
        text-decoration: none;
    }
}