p {
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 22px;
  color: #4a4a4a;
  padding: 1px;
  margin: 25px 0px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 46px;
}

h2 {
  font-family: Arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

h3 {
  font-family: Arial;
  font-weight: 400;
  font-size: 19px;
  line-height: 19px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 46px;
  color: #ffffff;
}

h5 {
  font-family: Arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

h6 {
  font-family: Arial;
  font-weight: 400;
  font-size: 19px;
  line-height: 19px;
  color: #ffffff;
}

.border {
  border-left: 5px solid red;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  height: 40px;
  width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar-letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  background-color: white;
  font-style: oblique;
  border: 2px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
}

.nav-interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
}

.interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-style: oblique;
  border-left: 1px solid white;
  border-right: 1px solid white;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 237px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.welcome__interface {
  /* position: relative; */
  top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  row-gap: 20px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  width: auto;
  height: 466px;
      grid-template-areas: "header . ." "header . .";
}

.welcome__interface--item {
  display: -ms-grid;
  display: grid;
}

.item_2 {
  background-image: url(../images/item2.jpg);
  background-size: cover;
}

.item_3 {
  background-image: url(../images/item3.jpg);
  background-size: cover;
}

.item_4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: header;
  background-image: url(../images/item1.jpg);
  background-size: cover;
}

.item_5 {
  background-image: url(../images/item4.jpg);
  background-size: cover;
}

.item_6 {
  background-image: url(../images/item5.jpg);
  background-size: cover;
}

.item_7 {
  background-image: url(../images/item6.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
}

.item_8 {
  background-image: url(../images/item7.jpg);
  background-size: 124%;
  background-repeat: no-repeat;
  background-position-x: center;
}

.item_9 {
  background-image: url(../images/item8.jpg);
  background-size: 133%;
  background-repeat: no-repeat;
  background-position-x: center;
}

.item_10 {
  background-image: url(../images/item9.jpg);
  background-size: 133%;
  background-repeat: no-repeat;
  background-position-x: center;
}

.item_11 {
  background-image: url(../images/item10.jpg);
  background-size: 133%;
  background-repeat: no-repeat;
  background-position-x: center;
}

.item_12 {
  background-image: url(../images/item11.jpg);
  background-size: 113%;
  background-repeat: no-repeat;
  background-position-x: center;
}

.news__interface {
  position: relative;
  display: -ms-grid;
  display: grid;
  /* grid-template-rows: 1fr; */
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  height: 658px;
}

.news__interface--item {
  display: -ms-grid;
  display: grid;
}

.sport__interface {
  position: relative;
  /* top: 20px; */
  display: -ms-grid;
  display: grid;
  /* grid-template-rows: 1fr; */
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  height: 634px;
}

.sport__interface--item {
  display: -ms-grid;
  display: grid;
}

.items__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .welcome__interface {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .item_7 {
    background-image: none;
  }
  .item_8 {
    background-image: none;
  }
  .item_9 {
    background-image: none;
  }
  .item_10 {
    background-image: none;
  }
  .item_11 {
    background-image: none;
  }
  .item_12 {
    background-image: none;
  }
  .news__interface {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .sport__interface {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (2fr)[3];
        grid-template-rows: repeat(3, 2fr);
  }
}
/*# sourceMappingURL=Stylesheet.css.map */