#divcont {
  display: flex;
  flex-flow: wrap;
}

.tasks {
  border: solid black 2px;
  margin: 5px;
  padding: 3px;
}


.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  // z-index: 1;
  top: 90px;
  ;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;

  :hover {
    color: #f1f1f1;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // position: fixed;
  background-color: #111;
  padding: 20px;
  margin: 0;
  z-index: 1;
  top: 0;

}

.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.edit {
  border: 3px solid green;
  display: none;


}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}