:root {
    --main-color: #7cd1f9;
    --main-bg-color: #dbf4ff;
    --hover-bg-color: #7cd1f9;
    --hover-color: darkorange;
    --links-color: #518da8;
  }

* {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}

html,body {
    margin: 0;
}

body {
    background-image: url('../images/cart-wp.png'), linear-gradient(var(--main-bg-color), var(--main-bg-color));;
    background-blend-mode: normal;
    background-repeat: repeat;
    background-size: 80px;
}

a {
    color: var(--links-color);

    &:hover {
        color: var(--hover-color);
    }
}

.button {
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    margin: 2px;
    color: white;
    padding: 1vw;
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(10px, 4vw, 16px);

    &:hover {
        background-color: var(--hover-bg-color);
        color: white;
    }

    &:active {
        -moz-box-shadow: 0 0 10px var(--main-color);
        -webkit-box-shadow: 0 0 10px var(--main-color);
        box-shadow: 0 0 10px var(--main-color);
    }
  }

  .form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 20vw;
    min-width: 120px;

    input {
        margin-bottom: 10px;
    }
}

.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1.5fr 0.75fr 0.75fr 0.75fr 1.25fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "h1 item1 item2 item3 item4 h4 topright"
        "h1 item1 item2 item3 item4 call botright";

    position: sticky;
    height: fit-content;
    height: 20vh;
    background-image: url('../images/cart-wp.png'), linear-gradient(#2c2c2c, #2c2c2c);;
    background-blend-mode: normal; 
    background-repeat: repeat;
    background-size: 200px;
    top: 0;
    color: white;
    padding: 0 2.5vw;
    -moz-box-shadow: inset 0 -10px 10px -10px var(--main-bg-color);
    -webkit-box-shadow: inset 0 -10px 10px -10px var(--main-bg-color);
    box-shadow: inset 0 -10px 10px -10px var(--main-bg-color);
    z-index: 10;


    &__item {
        margin: 0;

        &--h1 {
            grid-area: h1;
            font-size: clamp(15px, 3vw, 25px);;
            font-weight: bold;
            text-decoration: none;
            color: white;

            &:hover {
                color: var(--hover-bg-color);
            }
        }

        &--add-product {
            grid-area: item2;
            width: clamp(20px, 4vw, 40px);
            height: clamp(20px, 4vw, 40px);

            img {
                background-color: lightgreen;
                padding: 1vw;
                border-radius: 50px;
                width: clamp(80%, 4vw, 100%);;

                &:hover {
                    background-color: var(--hover-bg-color);
                }
            }
        }

        &--cart {
            grid-area: item1;
            position: relative;
            width: clamp(20px, 4vw, 40px);
            height: clamp(20px, 4vw, 40px);

            img {
                background-color: white;
                padding: 1vw;
                border-radius: 50px;
                width: clamp(80%, 4vw, 100%);;

                &:hover {
                    background-color: var(--hover-bg-color);
                }
            }

            div {
                padding-bottom: 4px;
                background-color: orange;
                border: 1px solid white;
                border-radius: 2px;
                color: white;
                font-size: clamp(10px, 2vw, 15px);;
                font-weight: bold;
                text-align: center;
                height: 40%;
                width: fit-content;
                min-width: 50%;
                position: absolute;
                right: -50%;
                top: -5px;
            }
        }

        &--store {
            grid-area: item1;
            width: clamp(20px, 4vw, 40px);
            height: clamp(20px, 4vw, 40px);

            img {
                background-color: white;
                padding: 1vw;
                border-radius: 50px;
                width: clamp(80%, 4vw, 100%);;

                &:hover {
                    background-color: var(--hover-bg-color);
                }
            }
        }

        &--history {
            grid-area: item2;
            width: clamp(20px, 4vw, 40px);
            height: clamp(20px, 4vw, 40px);

            img {
                background-color: white;
                padding: 1vw;
                border-radius: 50px;
                width: clamp(80%, 4vw, 100%);;

                &:hover {
                    background-color: var(--hover-bg-color);
                }
            }
        }

        &--mall {
            grid-area: item3;
            width: clamp(20px, 4vw, 40px);
            height: clamp(20px, 4vw, 40px);

            img {
                background-color: white;
                padding: 1vw;
                border-radius: 50px;
                width: clamp(80%, 4vw, 100%);;

                &:hover {
                    background-color: var(--hover-bg-color);
                }
            }
        }

        &--stores-list {
            grid-area: item4;
            width: clamp(20px, 4vw, 40px);
            height: clamp(20px, 4vw, 40px);

            img {
                background-color: white;
                padding: 1vw;
                border-radius: 50px;
                width: clamp(80%, 4vw, 100%);;

                &:hover {
                    background-color: var(--hover-bg-color);
                }
            }
        }

        &--h4 {
            grid-area: h4;
            font-size: clamp(8px, 4vw, 16px);
        }
        
        &--admin-login-form {
            grid-area: topright;
            display: flex;
            
            .form-inputs {
                width: 20vw;

                &__item {
                    font-size: clamp(6px, 4vw, 14px);
                    margin: 0;
                }
            }
        }

        &--username {
            grid-area: topright;
            font-size: clamp(8px, 4vw, 16px);
        }

        &--call-to-register {
            grid-area: call;
            font-size: clamp(8px, 3vw, 12px);
            color: white;
        }

        &--logout {
            grid-area: botright;
            border: 0;
            margin: 0 auto;
            padding: 5px;
            color: white;
            font-weight: bold;
            width: fit-content;
            border-radius: 20px;
            background-color: darkred;
            cursor: pointer;

            &:hover {
                background-color: red;
            }
        }

        &--register {
            grid-area: botright;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;

    &__item {

        &--store-name {
            margin: 0;
            background-image: url('../images/cart-wp.png'), linear-gradient(#2c2c2c, #2c2c2c);;
            background-blend-mode: normal; 
            background-repeat: repeat;
            background-size: 200px;
            color: white;
            padding: 2.5vw;
            -moz-box-shadow: inset 0 -10px 10px -10px var(--main-bg-color),
            inset 0 10px 10px -10px var(--main-bg-color);
            -webkit-box-shadow: inset 0 -10px 10px -10px var(--main-bg-color), 
            inset 0 10px 10px -10px var(--main-bg-color);
            box-shadow: inset 0 -10px 10px -10px var(--main-bg-color),
            inset 0 10px 10px -10px var(--main-bg-color);
        }

        &--pay {
            width: 20vw;
            margin: 20px auto;
            padding: 10px 0;
        }
    }

    .product-large {
        margin: 20px auto;
        padding: 15px;
        border-radius: 10px;
        height: 60vw;
        width: 60vw;
        min-height: 270px;
        min-width: 270px;
        // max-height: 470px;
        // max-width: 470px;
        background-color: white;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr 0.5fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas:
        "title title title title"
        "product product product product"
        "img img img price"
        "img img img stock"
        "img img img quantity"
        "desc desc desc desc"
        "desc desc desc desc"
        "desc desc desc desc"
        ". submit submit .";
    
        &__item {
            margin: 0 auto;

            &--buttons {
                grid-area: title;
            }

            &--title {
                grid-area: title;
            }

            &--name {
                grid-area: product;
                font-size: 1rem;
            }

            &--img {
                grid-area: img;
                display: flex;
                flex-direction: column;
                
                img,input {
                    margin: 0 auto;
                    font-size: clamp(8px, 2vw, 16px);
                    border-radius: 5px;
                    max-width: 25vw;
                    max-height: 12.5vw;
                }
            }

            &--description {
                grid-area: desc;
                text-align: left;
                border: 1px solid black;
                border-radius: 10px;
                padding: 5px;
                resize: none;
                width: 95%;
                height: 90%;
            }

            &--price {
                grid-area: price;
                
                h3,p {
                    margin: 0;
                }
            }

            &--in-stock {
                grid-area: stock;
            }

            &--quantity {
                grid-area: quantity;

                input {
                    font-size: clamp(8px, 2vw, 16px);
                    width: 7.5vw;
                }
            }

            &--submit {
                grid-area: submit;

            }
        }
    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    &__item {
        &--headers {
            padding: 15px 0;
            background-color: var(--links-color);
            color: white;
            display: flex;
            word-wrap: normal;
            font-size: clamp(8px, 3vw, 16px);
            justify-content: space-between;
            width: 90vw;

            h4 {
                margin: 0;
                flex: 1;
            }
        }
    }

    .product {
        margin: 10px;
        padding: 15px 0;
        border-radius: 10px;
        height: 20vw;
        width: 20vw;
        min-height: 250px;
        min-width: 250px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__item {
            margin: 0;

            &--img {
                max-height: 50%;

                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            &--description {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                width: 70%;
                -webkit-box-orient: vertical;
            }
        }
    }

    .product-row {
        margin: 0 auto;
        padding: 0;
        border-radius: 2px;
        border-bottom: 3px solid lightgray;
        height: 10vw;
        width: 90vw;
        font-size: clamp(10px, 2vw, 16px);
        background-color: white;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(6, 15vw);
        grid-template-rows: 1fr;
        grid-template-areas:
        "remove- img product stock price quantity";
    
        &__item {
            margin: 0 auto;

            &--remove {
                grid-area: remove-;
                color: darkred;
                cursor: pointer;

                &:hover {
                    color:red;
                }
            }

            &--img {
                grid-area: img;
                display: flex;
                justify-content: center;
                
                img {
                    height: 7.5vw;
                }
            }

            &--name {
                grid-area: product;

                h3 {
                    margin: 0;
                    width: 15vw;
                    word-wrap: break-word;
                }
            }

            &--stock {
                grid-area: stock;
            }

            &--total {
                grid-area: price;
            }

            &--quantity {
                grid-area: quantity;

                input {
                    font-size: clamp(8px, 2vw, 16px);
                    width: 7.5vw;
                }
            }
        }
    }

    .total {
        padding: 0;
        height: 5vw;
        background-color: var(--links-color);
        color: white;
        word-wrap: normal;

        h3 {
            margin: 0;
        }
    }
}

.product-buttons {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__item {
        border: 0;
        padding: 0;

        &--info {
            color: gray;

            &:hover {
                color: lightgray;
            }
        }

        &--cart-add {
            color: darkgreen;
            cursor: pointer;

            &:hover {
                color: green;
            }
        }

        &--cart-added {
            color: lightgreen;

            &:hover {
                color: green;
            }
        }

        &--delete {
            color: darkred;
            cursor: pointer;

            &:hover {
                color:red;
            }
        }
    }
}

.hide {
    display: none;
}