* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

//first page style

#addGroup {
  color: white;
  margin-left: 75%;
  cursor: pointer;
  margin-top: 5px;
}

.addChat:hover {
  opacity: 0.8;
}

.box {
  background-color: white;
  position: absolute;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding: 15px;
  width: 70%;
  height: 10px;
  text-align: left;
  margin-left: 15%;
  border: 3px solid green;
}

.box > i {
  font-size: 15px;
  color: #777;
}

.box > input {
  flex: 1;
  height: 20px;
  border: none;
  outline: none;
  font-size: 15px;
  padding-left: 5px;
}

.chat1-wrapper {
  border: 1px solid blue;
}

.chat1 {
  height: 12vh;
  background-color: white;
  border-bottom: 1px solid rgb(237, 237, 237);
  border-top: 1px solid rgb(237, 237, 237);
  display: flex;
  flex-direction: row;
  cursor: pointer;
  overflow: hidden;
  width: 95%;
  border: 3px solid red;
  &:hover {
    opacity: 0.8;
  }
  &__photo {
    text-align: left;
    width: 7vh;
    height: 6vh;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 50%;
    border: 3px solid black;
  }
  &__name {
    text-align: left;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 35px;
    margin-left: 10px;
    border: 3px solid green;
  }
}
#chat1__delete {
  margin-top: 35px;
  margin-left: 350px;
  border: 3px solid yellow;
}

// I couldn't nest this delete. I tried making it into a class rather than an id but I think it creates a problem with the font awesome icon.

#filterN {
  border: 3px solid black;
}

.green-background {
  background-color: rgb(0, 150, 136);
  width: 100%;
  height: 20vh;
}
.grey-background {
  background-color: rgb(218, 219, 212);
  width: 100%;
  height: 100vh;
}

.photo1 {
  text-align: left;
  width: 7vh;
  height: 6vh;
  margin-top: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.photo1:hover {
  opacity: 0.8;
}

.wrapper {
  height: 100%;
  width: 100%;
}
.wrapper__container {
  position: absolute;
  margin-left: 30%;
  margin-top: 25px;
  width: 40%;
  background-color: white;
  height: 112vh;
}
.wrapper__container--profile {
  height: 8vh;
  background-color: rgb(218, 219, 212);
}

.wrapper__container--search {
  height: 8vh;
  background-color: rgb(226, 226, 226);
}

//2nd page

.envelope {
  width: 60%;
  margin-left: 20%;
  margin-top: 0;
<

#emoji {
  color: white;
}

#paperClip {
  color: white;
  margin-left: 25px;
}

.boxIcon {
  margin: 15px;
  display: flex;
}
#arrow {
  color: white;
  margin: 10px;
  margin-top: 20px;
}
