
.containerPage{
    margin: 10px;
 
    margin-left: 250px;
    padding: 5px;
    display: flex;


    &__containerForm1{

        
        &__form1{

            border: 2px solid red;
            
            
            &--input{
                margin: 10px;
                display: flex;
                width:90%
            }
            &--submit{
                margin-left: 8px;
                
                text-align: center;
            }
            &--stud{
                margin-left: 8px;
            }


        }
   



}


    &__containerForm2{
        margin-left: 300px;
        margin: 10px;
        padding: 5px;
    
        

            &--input{
                margin: 5px;
                padding: 5px;   
            }
            &--submitParams{
                margin: 5px;
                padding: 5px;   
            }
            &--submitQuerys{
                margin: 5px;
                padding: 5px;   
            }


            
        }
   



    &__containerDom{

        margin-left: 300px;
        margin: 10px;
        padding: 5px;


    &__title{
        color: black;
    }

    &__root{
        border: 2px solid red;
    }
}

}