//Buttons animation:
@-webkit-keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}@keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}
//Contact hover animation:
@-webkit-keyframes shadow-drop-tb{0%{-webkit-box-shadow:0 0 0 0 transparent,0 0 0 0 transparent;box-shadow:0 0 0 0 transparent,0 0 0 0 transparent}100%{-webkit-box-shadow:0 -12px 20px -12px rgba(0,0,0,.35),0 12px 20px -12px rgba(0,0,0,.35);box-shadow:0 -12px 20px -12px rgba(0,0,0,.35),0 12px 20px -12px rgba(0,0,0,.35)}}@keyframes shadow-drop-tb{0%{-webkit-box-shadow:0 0 0 0 transparent,0 0 0 0 transparent;box-shadow:0 0 0 0 transparent,0 0 0 0 transparent}100%{-webkit-box-shadow:0 -12px 20px -12px rgba(0,0,0,.35),0 12px 20px -12px rgba(0,0,0,.35);box-shadow:0 -12px 20px -12px rgba(0,0,0,.35),0 12px 20px -12px rgba(0,0,0,.35)}}
$contacts-font: Arial, Helvetica, sans-serif;
//Color palette for this project:
$contacts-orange: #f6330cc2;
$contacts-green: #155c15d5;
$contacts-yellow: #d3d15d;
$contacts-light-brown: rgba(187, 134, 65, 0.438);
$contacts-fade-to-black: rgba(0, 0, 0, 0.712);

.main-headline {
  font-family: $contacts-font;
  text-align: center;
  margin: 0 auto;
  border: black solid 1px;
  color: whitesmoke;
  background-color: $contacts-green;
}

.body-wrapper {
  font-family: $contacts-font;
  display: flex;
  border: $contacts-green 1px solid;
}
//Form side styling:
.form-container {
  padding: 0.1rem;
  width: 25%;
  min-width: 150px;
  border: $contacts-green solid 1px;
  background-color: $contacts-light-brown;
  & .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__headline {
      color: $contacts-orange;
    }
    &__label {
      padding: 0.4rem;
      color: $contacts-fade-to-black;
    }
    &__input {
      border: none;
      background-color: $contacts-light-brown;
      text-align: center;
      padding: 0.4rem;
      &:hover {
        background-color: white;
      }
    }
    &__submit-button {
      margin: 1rem;  
      padding: 0.7rem 1.5rem;
      background-color: $contacts-orange;
      cursor: pointer;
      border-radius: 5%;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      &:hover{
        background-color: white;
        color: $contacts-green;
      }
    }
  }
}
//List side styling:
.saved-contacts-container {
  padding: 0.1rem;
  padding-bottom: 40rem;
  border: purple 1px solid;
  width: 100%;
  border: $contacts-yellow 1px solid;
  margin: 0.1rem;
  & .saved-contacts-headline {
    margin: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    background-color: $contacts-yellow;
  }
  & .saved-contacts-root {
    & .contact {
      width: 90%;
      height: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem;
      margin: 1.1rem auto;
      border-bottom: $contacts-light-brown 1px solid;
      &:hover {
        background-color: $contacts-light-brown;
        -webkit-animation:shadow-drop-tb .4s cubic-bezier(.25,.46,.45,.94) both;animation:shadow-drop-tb .4s cubic-bezier(.25,.46,.45,.94) both
      }
      & .fa-bars {
        cursor: pointer;
        &:hover{
          color: $contacts-green;
        }
      }
      &__img {
        border-radius: 50%;
        width: 75px;
        height: 75px;;
        margin: 1rem;
      }
      &__inner-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        &__name {
          background-color: rgba(220, 220, 220, 0.253);
          border-radius: 35%;
          padding: 0.4rem;
          font-weight: 500;
        }
        &__phone-wrapper {
          display: flex;
          justify-content:center;
          align-items:flex-start;
          width: 100%;
          & .contact__number {
            font-size: 1rem;
            color: $contacts-fade-to-black;
          }
          & .fa-whatsapp {
            color: rgb(1, 155, 1);
          }
        }
      }
      &__address {
        width: 40%;
        color: $contacts-fade-to-black;
      }
      &__email {
        width: 23%;
        margin-right: 1rem;
        color: $contacts-fade-to-black;
      }
      & .fa-edit {
          color: rgb(0, 89, 255);
          margin-right: 0.5rem;
          &:hover{
            -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both          
          }
      }
      & .fa-trash-alt {
          color: red;
          &:hover{
            -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both          
          }
      }
    }
  }
}