@keyframes zoom-move-right-down {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(2) translateX(50%) translateY(50%);
    }
  }

  @keyframes zoom-move-left-up {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(2) translateX(-50%) translateY(-50%);
    }
  }

  @keyframes zoom-move-right {
    from {
        transform: scale(1);
    }  
    to {
        transform: scale(2) translateX(50%);
    }
  }

  @keyframes zoom-move-left {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2) translateX(-50%);
    }
  }

  @keyframes zoom-move-right-up {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(2) translateX(50%) translateY(-50%);
    }
  }

  @keyframes zoom-move-left-down {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(2) translateX(-50%) translateY(50%);
    }
  }

body{
    margin: 0px;
}

.container{
    margin: 0 auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(4, 150px);
    gap:6px;

    &__item {
        img {
            height: 100%;
            width: 100%;
        }

        &--to-right:hover {
            animation: zoom-move-right 1s forwards;
        }

        &--to-left:hover {
            animation: zoom-move-left 1s forwards;
        }

        &--to-right-up:hover {
            animation: zoom-move-right-up 1s forwards;
        }

        &--to-left-up:hover {
            animation: zoom-move-left-up 1s forwards;
        }

        &--to-right-down:hover {
            animation: zoom-move-right-down 1s forwards;
        }

        &--to-left-down:hover {
            animation: zoom-move-left-down 1s forwards;
        }
    }
}