*{
    box-sizing: border-box;
    margin:0;
    padding: 0;   
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    fieldset{
        display: flex;
        flex-direction: column;
        position: relative;
        top:15px;
        left:5%;
     
        legend{
            text-align: center;
        }
        input{
            margin: 2rem;
        }
    
    };

    .boardData{
       display: flex;
       margin:2rem

    }

    .item{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 2rem;
        padding: 1rem;
        width: 100%;
        line-height: 1.7rem;
        box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
    }
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn{
    padding: 1rem;
}

