* {
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
    margin: 0;
}

body {
    margin: 0;
    overflow-x: hidden;
}

button {
    width:fit-content;
    margin: 10px auto;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    border: 0;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;

    &:hover {
        transition: 150ms;
    }
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 175px;
    background-image: linear-gradient(to bottom right, #ffb3ba, #ffdfba, #ffffba, #baffc9, #bae1ff);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.books-main {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: space-evenly;
    justify-content: space-around;

    &__item {
        margin: 10px 0;

        &--upcoming {
            margin-top: 0;
        }
    }

    .headers {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-around;
        text-align: center;

        &__item {
            margin-bottom: 0;
        }
    }

    .books {

        &__item {
            background-color: #f1f1f1;
            border-left: 4px solid #bae1ff;

            &--header {
                background-color: unset;
                text-align: left;
                padding-left: 10px;
                margin: 0;
                color: #67bdff;
            }
        }
        
        .book {
            margin: 10px 0;
            display: flex;
            text-align: center;
            justify-content: space-around;    
            
            &__item {
                width: 200px;
                padding: 5px;

                &--title {
                    word-wrap: break-word;
                }

                &--author {
                    height: stretch;
                    color: white;
                    background-color: #F0AD52;
                }
            }
        }
    }
}