@import url('http://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


#cart {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    text-align: center;
}

#cart td,
#cart th {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}


#cart tr {
    background-color: white;
    color: #8B0000;
}

#cart tr:hover {
    background-color: white;
    color: green;
}

#cart tr:nth-child(odd):hover {
    background-color: lightcyan;
    color: blue;
}

#cart tr:nth-child(even):hover {
    background-color: lightblue;
    color: blue;
}

#cart th {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: left;
    background-color: black;
    color: white;
    text-align: center;
}

body{
    height: 100vh;
    background-color:black;
    color:white;
}


h1{
    text-align: center;
    margin: 0.5em 0 1.5em 0;
}

.btn-return{
    width:5%;
    height: 20px;
    border:none;
    border-radius: 10px;
    margin: 0.5em 0;
    transform: translate(-1%);
    cursor:pointer;
    color:white;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    transition: all .4s;
}

.cartRoot{
   &__table{
       display: flex;
       justify-content: center;
   }

   &__finalstep{
       margin-top:3em;
       display: flex;
       justify-content: flex-end;
       position: relative;
       right:15%;

       span{
           position: relative;
           right: 5%;
           top:15px;

       }

       button{
        width:10%;
        height: 40px;
        border:none;
        border-radius: 10px;
        margin: 0.5em 0;
        transform: translate(-1%);
        cursor:pointer;
        color:white;
        background: linear-gradient(to right, #ff416c, #ff4b2b);
        transition: all .4s;
       }

       .button:hover{
        transform: translate(-1%,5%);
        box-shadow:0 0 10px #ff416d65;
    }
   }
}

#btn-return{
    margin-right: 1em;
    width:5%;
    height: 40px;
    border:none;
    border-radius: 10px;
    transform: translate(-1%);
    cursor:pointer;
    color:black;
    background: linear-gradient(to right, #414eff, #2be6ff);
    transition: all .4s;
   }
  
   #btn-return:hover{
    transform: translate(-1%,5%);
    box-shadow:0 0 10px #ff416d65;
  }