body {
    background-color: #ECE5DD;
}

.nav {
    background-color: #128C7E;
    color: white;
    height: 15vh;
    display: flex;
    justify-content: space-between;

    // align-items: center;
    i {
        height: 2rem;
        width: 3rem;
    }

    // p {
    //     // margin-top: -8%;
    // }

    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 2rem;

    }

    &__img {
        border-radius: 100px;
        height: 3rem;
        width: 3rem;
    }

    &__contact {
        margin-left: 1rem;
    }
}

.input__send__wrapper .form {
    position: absolute;
    bottom: 2vh;
    display: flex;


    .input__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        height: 10vh;
        width: 92.5vw;

        &--left {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--right {
            border: 3px solid red;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        img {
            height: 2.5rem;
            width: 2.5rem;
        }

        #input {
            border: none;
            height: 50%;
            width: 80vw;
        }
    }

    .mic__or__send__button {
        display: flex;

        align-items: center;


        .fas {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1rem;
            height: 3.5rem;
            width: 3.5rem;
            font-size: 1.5rem;
            border-radius: 100px;
            background-color: #128C7E;
            color: white;
        }
        // .fa-paper-plane{
        //     border:solid pink 3px;
        //     display: none;
        // }
    }
}