* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

//first page style

// Give it a "min height" min-hright:

// #addGroup {
//   color: white;
//   margin-left: 75%;
//   cursor: pointer;
//   margin-top: 5px;
// }

// What is add group? If I comment it out nothing happens. I assume it is for the future?

.addChat:hover {
  opacity: 0.8;
}

// Box is the oval shaped one at the top,
// It is actually nested inside wrapper__container--search
// It contains filterN and Fa fa search

.box {
  background-color: white;
  position: absolute;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding: 15px;
  width: 250px;
  height: 10px;
  text-align: left;
  margin-left: 15px;
  border: 3px solid green;
}

.box > i {
  font-size: 15px;
  color: #777;
}

.box > input {
  flex: 1;
  height: 20px;
  border: none;
  outline: none;
  font-size: 15px;
  padding-left: 5px;
}

.container {
  position: absolute;
  margin-top: 25px;
  width: 400px;
  background-color: white;
  height: 800px;
  border: 3px solid violet;
  display: flex;
}

.containerChat {
  display: flex;
  flex-direction: row;
  border: 2px solid blue;
}

// Container chat is the bit that wraps around each chat. It is the flex container. ITs flex children should be: the

.chat1 {
  height: 20px;
  border: 2px solid orange;
  // Here we have the photo, in a black circle, the name, in a green box,
}
.chat1:hover {
  opacity: 0.8;
}
.chat1__photo {
  text-align: left;
  width: 45px;
  height: 39px;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 50%;
  border: 3px solid black;
}
.chat1__name {
  text-align: left;
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-left: 80px;
  border: 3px solid green;
}

// This is the one that holds all the chats
.container {
  position: absolute;
  margin-top: 25px;
  width: 400px;
  background-color: white;
  height: 800px;
  border: 3px solid violet;
  display: flex;
}

// .hh {
//   border: 2px solid violet;
// }
// What is this?

#delete {
  width: 20px;
  margin-top: 35px;
  margin-left: 350px;
  border: 3px solid yellow;
  cursor: pointer;
}
#delete:hover {
  opacity: 0.8;
}

// The delete id

// filterN is where it says "search or start a new chat". IT's being grabbed in principal.ts
#filterN {
  border: 3px solid black;
}

.green-background {
  background-color: rgb(0, 150, 136);
  width: 100%;
  height: 20vh;
}

// Need to make this so that the height is fixed
.grey-background {
  background: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  width: 100%;
  height: 100vh;
}

.photo1:hover {
  opacity: 0.8;
}
// The wrapper is the whole page (turquise) why can't I see it all
// The wrapper container goes all the way to the bottom. It would be good if it simply encapsulated the chats and then we could see the fun background.
// wrapper container profile currently contains the picture of Eric
// I fixed the sass here, it was wrong

.full-page-wrapper {
  height: 100%;
  width: 100%;
  border: 3px solid turquoise;
}

.wrapper__container--profile {
  height: 8vh;
  background-color: rgb(218, 219, 212);
  border: 3px solid yellow;
}
.wrapper__container--search {
  height: 8vh;
  background-color: rgb(226, 226, 226);
  border: 3px solid rgb(0, 150, 136);
}

.wrapper__container--profile-image {
  text-align: left;
  width: 7vh;
  height: 6vh;
  margin-top: 5px;
  border-radius: 50%;
  cursor: pointer;
}
//2nd page

.envelope {
  width: 60%;
  margin-left: 20%;
  margin-top: 0;
  &__contact {
    position: fixed;
    width: 60%;
    height: 15%;
    margin-top: 0;
    background-color: #777;
  }
  &__chat {
    background: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    width: 100%;
    height: 420px;
    margin-top: 0%;
    background-color: rgb(226, 226, 226);
  }
  &__typing {
    width: 100%;
    height: 60px;
    margin-top: 400px;
    position: absolute;
    background-color: grey;
    display: flex;
    &--boxicon {
      margin: 15px;
      display: flex;
    }
    &--input {
      border: 1px solid rgb(226, 226, 226);
      border-radius: 30px;
      margin-top: 3px;
      height: 35px;
      padding: 10px;
      width: 85%;
      border: none;
      outline: none;
    }
    &--input-entry {
      border: 1px solid rgb(226, 226, 226);
      border-radius: 30px;
      height: 35px;
      padding: 5px;
      width: 100%;
      border: none;
      outline: none;
    }
  }
}

// Actually, "input-entry" is inside "input", so I need to nest it, but I don't know how to nest beyond three elements

#emoji {
  color: white;
}

#paperClip {
  color: white;
  margin-left: 25px;
}

#arrow {
  color: white;
  margin: 10px;
  margin-top: 20px;
}
#send:hover {
  cursor: pointer;
  opacity: 0.8;
}
//Add this cursor to the other icons too.
