@keyframes bright {
    from {
        filter: brightness(100%);
    }

    to {
        filter: brightness(115%);
    }
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
}

.top {
    background-color: black;
}

.top-wrapper {
    height: 35px;
    display: flex;
    justify-content: space-around;
    max-width: 1150px;
    margin: 0 auto;
    z-index: 10;
}

.logo {
    color: black;
    display: flex;
    align-items: center;

    &:hover {
        text-decoration: none;
    }

    &__item {

        &--box {
            display: flex;
            justify-content: center;
            align-content: center;
            margin: 2px;
            height: 22px;
            width: 22px;
            background-color: white;
            font-size: 1.3em;
        }

        &--name {
            color: white;
            font-weight: bold;
        }
    }
}

.login {
    font-size: 0.7em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-self: center;

    color: white;
    border-left: 1px solid gray;
    padding: 10px 1vw;

    &:hover {
        text-decoration: none;
    }

    .fa-user-circle {
        font-size: 1.4em;
    }
}

.menu {
    font-size: 0.7em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    z-index: 10;

    &__item {
        color: white;
        align-self: center;
        border-left: 1px solid gray;
        padding: 10px 1vw;

        &:hover {
            text-decoration: none;
        }
    }
}

.page-wrapper {
    max-width: 1150px;
    margin: 0 auto;
}

h1,
.tag-h2 {
    margin: 2% 2% 1% 2%;
    font-weight: bold;
    color: #4a4a4a;
}

h1 {
    font-size: 1.3em;
}

span {
    color: gray;
    font-weight: normal;
    position: absolute;
    right: 6%;
}

.tag-h2 {
    font-size: 1.4em;
    padding-left: 10px;

    &--news {
        border-left: 4px solid red;
    }

    &--sport {
        border-left: 4px solid yellow;
    }
}

h3,
p,
h4 {
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: 1.1em;
}

p {
    font-size: 0.9em;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.tag {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #767676;
    padding-left: 8px;

    &:hover {
        color: white;
    }

    &--news {
        border-left: 1px solid red;
    }

    &--sport {
        border-left: 1px solid yellow;
    }

    &--did-you-miss {
        border-left: 1px solid seagreen;
    }
}

.grid {
    margin: 0 2%;

    &--1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 9.5em);
        gap: 8px 14px;
        grid-template-areas:
            "main main . ."
            "main main . ."
        ;

        &__item {
            cursor: pointer;
            position: relative;
            color: white;

            &:hover {
                // animation: name duration timing-function delay iteration-count direction         fill-mode;
                // animation: name duration ease-in-out	    delay iteration-count alternate-reverse forwards;                
                animation: bright 0.5s ease-in-out forwards;
            }

            img,
            .shadow {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .shadow {
                box-shadow: inset 0 -8rem 1rem 0px #000000aa;
            }

            h3,
            p,
            .tag {
                position: absolute;
                left: 4%;
            }

            h3 {
                bottom: 20%;
            }

            p {
                color: silver;
            }

            .tag {
                color: silver;
                bottom: 5%;
            }

            &--main {
                grid-area: main;

                h3,
                p,
                .tag {
                    left: 2.5%;
                }

                h3 {
                    font-size: 1.8em;
                    bottom: 25%;
                }

                p {
                    bottom: 12%;
                }

                .tag {
                    bottom: 4%;
                }
            }

            &--small {
                .shadow {
                    box-shadow: inset 0 -4rem 1rem 0px #000000aa;
                }
            }
        }
    }

    &--2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 8px 14px;
        grid-template-areas:
            ". . ."
            ". . ."
        ;

        &__item {
            cursor: pointer;
            position: relative;
            color: #212121;

            &:hover {
                // animation: name duration timing-function delay iteration-count direction         fill-mode;
                // animation: name duration ease-in-out	    delay iteration-count alternate-reverse forwards;                
                animation: bright 0.5s ease-in-out forwards;
            }

            img {
                width: 100%;
            }

            h3 {
                font-size: 1.1em;
            }

            p {
                margin: 2%;
                font-size: 0.85em;
                font-weight: normal;
                color: #4a4a4a;
            }
        }
    }
}

@media screen and (max-width: 1125px) {

    h3,
    p,
    h4 {
        font-weight: bold;
    }

    h3 {
        font-size: 1em;
    }

    p {
        font-size: 0.8em;
    }

    .tag {
        font-size: 0.7em;
    }

    .grid {

        &--1 {
            grid-template-rows: repeat(2, 13vw);

            &__item {
                &--main {
                    h3 {
                        font-size: 1.6em;
                    }

                    .tag {
                        font-size: 0.8em;
                    }
                }
            }
        }

        &--2 {
            &__item {
                .tag {
                    font-size: 0.8em;
                }
            }
        }
    }
}

@media screen and (max-width: 908px) {
    h3 {
        font-size: 1.1em;
    }

    p {
        font-size: 0.9em;
    }

    .grid {

        &--1 {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 26vw);
            gap: 14px 14px;
            grid-template-areas:
                "main main"
                "main main"
                ". ."
                ". ."
            ;

            &__item {

                h3,
                p,
                .tag {
                    left: 2%;
                }

                h3 {
                    bottom: 14%;
                }

                p {
                    color: silver;
                }

                .tag {
                    bottom: 3%;
                }

                &--main {

                    h3,
                    p,
                    .tag {
                        left: 2%;
                    }

                    h3 {
                        font-size: 1.8em;
                        bottom: 12%;
                    }

                    p {
                        bottom: 7%;
                        font-weight: normal;
                    }

                    .tag {
                        font-size: 0.8em;
                        bottom: 2%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 540px) {
    h1 {
        display: none;
    }

    h3 {
        font-size: 1.1em;
    }

    p {
        font-size: 0.9em;
    }

    .grid {
        margin-top: 4vw;

        &--1 {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(7, 15vw);
            gap: 0;
            grid-template-areas:
                "main"
                "main"
                "main"
                "."
                "."
                "."
                "."
            ;

            &__item {
                color: #212121;
                border-bottom: 1px solid silver;

                h3 {
                    font-size: 0.9rem;
                    bottom: 45%;
                }

                .tag {
                    color: #767676;
                    bottom: 15%;
                }

                p {
                    display: none;
                }

                &--small {

                    img,
                    .shadow {
                        display: none;
                    }
                }

                &--main {

                    h3 {
                        color: white;
                        font-size: 1.4em;
                        bottom: 15%;
                    }

                    .tag {
                        font-size: 0.7em;
                        bottom: 2%;
                    }
                }
            }
        }

        &--2 {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 15vw);
            gap: 0;
            grid-template-areas:
                "."
                "."
                "."
            ;

            &__item {
                border-bottom: 1px solid silver;

                h3 {
                    position:absolute;
                    font-size: 0.9rem;
                    bottom: 45%;
                }

                .tag {
                    position:absolute;
                    font-size: 0.7em;
                    color: #767676;
                    bottom: 15%;
                }

                p,
                img {
                    display: none;
                }
            }
        }
    }
}