html, body {
    background: url(img/backgroundBooks.jpg) center center no-repeat;
    min-height:100%;
    background-size:cover;
    margin: 0;
    padding: 0;
  }
  
  .form {
    padding: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    margin: 25px auto;
    background: #5f9ea0;
    justify-content: center;
    align-items: center;
  
    &__submit {
      &--newuser {
        background-color: black;
        color: white;
        border-radius: 100px;
  
        &:hover {
          background-color: white;
          color: black;
          cursor: pointer;
        }
      }
    }
  }
  
  .form__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  
    &--edit {
      display: block;
      text-align: center;
  
      &--question {
        width: 100%;
      }
  
      &--button {
        margin-top: 10px;
      }
  
      &--image {
        width: 100px;
        height: 100px;
        margin: auto;
      }
    }
  
    & input {
      margin: 15px;
      width: 70%;
    }
  
    label {
      font-weight: bolder;
      display: flex;
      align-items: center;
    }
  
    &--submit {
      display: flex;
      justify-content: center;
    }
  }
  
  .wrapper__register {
    justify-content: space-between;
  }
  
  
  .product {
    display: flex;
  
    &__item {
      &__wrapper {
        display: flex;
        background-color: darkgoldenrod;
        width: 50%;
        margin: 10px;
        flex-direction: column;
        align-items: center;
        border-radius: 50px;
      }
  
      &__options {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10px;
  
        i:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
  }
  
  
  //////////////////////////MODAL////////////////////////
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  
    /* Modal Content */
    &-content {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      margin: auto;
      padding: 20px;
      width: 80%;
      position: relative;
      bottom: 100px;
      background-color: yellowgreen;
    }
  }
  
  /* Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    bottom: 15px;
    left: 50px;
  }
  
  #root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .section {
    display: flex;
    justify-content: center;
    background: darkblue;
    padding: 10px;
    form {
      width: 50%;
      input {
        width: 100%;
        text-align: center;
      }
    }
  }
  
  .error__message {
    font-size: 48px;
    color: white;
    font-weight: 900;
  }

  .formEdit {
    text-align: center;
  }