:root {
  --fuenteHeading: 'PT Sans', sans-serif;
  --fuenteParrafos: 'Open Sans', sans-serif;
  --primario: #784d3c;
  --blanco: #fff;
  --negro: #000;
  --gris: #e1e1e1;
  --green: #28CB04;
  --red: #F33721;
  --blue: #565ADE;
}

/* GLOBALES */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #bdbdbd;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: var(--fuenteParrafos);
  line-height: 1.2;
  font-size: 62,5%;
}

h1 {
  background-color: var(--negro);
  color: var(--gris);
}

h1:hover {
  background-color: #3f3d3d;
}

/* UTILIDADES */
.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.centrar-texto {
  text-align: center;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  border: solid black 2px;
  padding: 1rem;
}

.form .form__radio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__input {
  width: 10rem;
  margin-bottom: 1rem;
}

.form__submit {
  width: 10rem;
  background-color: var(--blue);
  color: white;
  padding: 0.5em 0.5rem;
  border-radius: 50px;
}

.form__submit:hover {
  background-color: blue;
}

.form .radio__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .radio__flex .form__label {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.acount {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.acount__transactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: solid 1px var(--negro);
}

.acount__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: solid 1px var(--negro);
}

.acount__total #acount_total__print {
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */