:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784d3c;
    --blanco: #fff;
    --negro: #000;
    --gris: #e1e1e1;
    --green: #28CB04;
    --red: #F33721; 
}
  /* GLOBALES */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
      font-family: var(--fuenteParrafos);
      line-height: 1.2;
      font-size: 62,5%;
  }
  /* UTILIDADES */
  .no-margin{
    margin: 0;
  }
  .no-padding{
    padding: 0;
  }
  .centrar-texto{
    text-align: center;
  }
  .container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;

  }
// CONTENIDOS
  .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .form{
         display: flex;
         justify-content: center;
         text-align: center;
         margin-bottom: 2rem;
      
      &__input{
          width: 10rem;
          margin-left: 1rem;
      }
      &__submit{
          margin-left: 1rem;
          width: 10rem;    
      }
      &__submit--deposit{
          background-color: var(--green);
          color: white;
      }
      &__submit--withdraw{
          background-color: var(--red);
          color: white;
      }
  }
  .acount{
      display: grid;
      grid-template-columns: 1fr 1fr;
      &__transactions{
          display: flex;
          justify-content: center;
          align-content: center;
          border: 1px solid black;
          .transactions{
           display: grid;
           grid-template-rows: 1fr;
           row-gap: 1rem;
           .transactions__deposits__title{
              #deposit{
                .dep{
                  border: solid 1px black;
                  padding: 0 1rem;
                }
              }
           }
           .transactions__withdraws__title{
             #withdraw{
               .with{
                  border: solid 1px black;
                  padding: 0 1rem;
               }
             }
           }
        }
        
      }
     
      &__total{
        display: flex;
        justify-content: center;
        align-content: center;
        border: 1px solid black;
        &__total__title{

        }
        &__total__number{
            
        }
      }
  }