:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784d3c;
    --blanco: #fff;
    --negro: #000;
    --gris: #e1e1e1;
    --green: #28CB04;
    --red: #F33721; 
    --blue: #565ADE;
}
  /* GLOBALES */
html {
    box-sizing: border-box;
    background-color: rgb(189, 189, 189);
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
      font-family: var(--fuenteParrafos);
      line-height: 1.2;
      font-size: 62,5%;
  }
  h1{
    background-color: var(--negro);
    color: var(--gris);
  }
  h1:hover{
    background-color: rgb(63, 61, 61);
  }
  /* UTILIDADES */
  .no-margin{
    margin: 0;
  }
  .no-padding{
    padding: 0;
  }
  .centrar-texto{
    text-align: center;
  }
  .container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;

  }
// CONTENIDOS
  .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border: solid black 2px;
    padding: 1rem;
    .form__radio__container{
      display: flex;
      justify-content: center;
      align-items: center;
    }
      &__input{
          width: 10rem;
          margin-bottom: 1rem;
      }
      &__submit{
          width: 10rem;
          background-color: var(--blue);
          color: white;    
          padding: 0.5em 0.5rem;
          border-radius: 50px;
      }
      &__submit:hover{
        background-color: blue;
      }
      .radio__flex{
        display: flex;
        .form__label{
          margin-right: 1rem;
          margin-left: 1rem;
          margin-bottom: 1rem;
        }
      }

  }
 .acount{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   &__transactions{
    display: flex;
    justify-content: center;
    align-content: center;
    border: solid 1px var(--negro);
   }
   &__total{
    display: flex;
    justify-content: center;
    align-content: center;
    border: solid 1px var(--negro);
    #acount_total__print{
      margin-top: 0.5rem;
      margin-left: 1rem;
      font-size: 2rem;
      font-weight: bold;
    }
   }
 }

