body {

  margin: auto;
  background-color: lightblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.nav {
  background-color: black;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;


  &__logo {

    display: grid;
    grid-template-columns: 35px 35px 35px;


    &__item {
      background-color: #ffffff;
      margin: 5px;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 900;
    }
  }

  &__item {
    padding: 10px;
    color: white;
  }

  &__search {
    margin: 10px -15px 10px 10px;

    &__button {
      margin: 10px;
      width: 30px;
    }


  }
}

.article {
  margin: 10px;

  &__header {
    font-weight: bolder;
    font-size: x-large;

    &--2 {
      padding-left: 3px;
      font-weight: bolder;
      font-size: x-large;
      border-left: solid red .5rem;

    }
  }






  &__container {
    color: rgb(253, 253, 253);
    font-weight: bolder;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    grid-template-areas:
      "main main . ."
      "main main . ."
    ;
   

    &--2 {

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 2;
      gap: 20px;
      margin-top: 1rem;

      .anchor {
        text-decoration: none;
        color: black;
        border-left: solid red .25rem;
        padding-left: 1.5px;

        &:hover {
          text-decoration: underline;
        }
      }



      img {
        width: 100%;
        height: 15rem;

      }

    }



  }


  &__items {
    h1{ font-size: 1rem;}
    p{ font-size: .8rem;}
    display: flex;
    align-items: flex-end;
    height: 10rem;
    background-color: rgb(70, 70, 57);

    &--main {
      p{ font-size: 1.2rem;}
      display: flex;
      align-items: flex-end;
      background-color: rgb(121, 236, 27);
      margin-right: .5rem;
      grid-area: main;
    

      &--2 {
    
      }
    }

  }
}
img{ object-fit: cover;
  object-position: top;
}

.hero {
  background-image: -webkit-radial-gradient(blue, green, purple);



  &__article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    grid-template-areas: 
    "main main ."
    ". . .";
    gap:2rem;
    padding: 2rem;
    h1{
      color:white
    }
    p {
      color:white
    }

    button {
      background-color: transparent;
      color: white;
      border-radius: 50px;
      border-style: groove;
      padding: 1rem 2rem;
      margin: 2rem 0rem 0 10rem;
      &:hover{
        background-color: grayscale($color: #5f5b5b48);
      }
    }
   
    .article__item {
      
      width: 100%;
      img{
        width: 100%;
        height: 15rem;
      }
      h2{ background-color: white;
      margin-top: -0.25rem;}

    }
  }

}

.main{
  grid-area: main;
}



@media only screen and (max-width: 900px) {

  .nav { 
    grid-template-columns: 25vw 25vw 25vw 25vw;
    justify-content: center;
  }
  body {
    background-color: rgb(124, 44, 118);
  }
  .hero__article{
    background-image: radial-gradient(black, silver, gray);
    grid-template-columns: 1fr;
    grid-template-areas:
    "main";
  }
  .article__container--2{
    grid-template-columns: 1fr 1fr;
  }
  .article__container{
  
    
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
     "main main"
    
    
   ;
  }
   .article__items--main{
     margin: 0;
     height: 10rem;
   }
}



@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(181, 221, 36);
    }

    .hero__article{
      background-image: radial-gradient(yellow, orange, red);
      grid-template-columns: 1fr;
      grid-template-areas:
      "main";
    }
    .article__container--2{
      grid-template-columns: 1fr;
    }
    .article__container{
    
      grid-template-columns: 1fr;
      grid-template-areas:
       "main"
      
     ;
     .article__items--main{
       margin: 0;
       height: 10rem;
     }
   
 
  }
}