@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.top {
  background-color: black;
}

.top-container {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.logo {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.logo__item--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 2px;
  height: 22px;
  width: 22px;
  background-color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.login {
  font-size: 1rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  color: white;
  border-left: 1px solid gray;
  margin-right: 350px;
  padding: 8px;
  text-decoration: none;
}

.fa-user-circle {
  font-size: 1.5rem;
  margin-right: 5px;
}

.nav-menu {
  font-size: 1rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 100px;
}

.nav-menu__item {
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-left: 1px solid gray;
  padding: 10px;
  text-decoration: none;
}

.nav-menu__item:hover {
  text-decoration: none;
}

.page-wrapper {
  max-width: 1150px;
  margin: 0 auto;
}

h1,
.tag-h2 {
  margin: 20px 20px 10px 20px;
  font-weight: bold;
  color: #0a0a0a;
}

h1 {
  font-size: 1.5rem;
}

.tag-h2 {
  font-size: 1.4em;
  padding-left: 10px;
}

.tag-h2--news {
  border-left: 4px solid red;
}

.tag-h2--sport {
  border-left: 4px solid yellow;
}

h3,
p,
h4 {
  font-weight: bold;
  margin: 0;
  color: rgba(230, 219, 219, 0.76);
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.tag {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #767676;
  padding-left: 8px;
}

.tag--news {
  border-left: 1px solid red;
}

.tag--sport {
  border-left: 1px solid yellow;
}

.tag--travel {
  border-left: 1px solid #530bd8;
}

section {
  margin: 0 2%;
}

.grid-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (10em)[2];
      grid-template-rows: repeat(2, 10em);
  gap: 8px 14px;
      grid-template-areas: "main main . ." "main main . .";
}

.grid-top__item {
  cursor: pointer;
  position: relative;
}

.grid-top__item img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.grid-top__item h3,
.grid-top__item p,
.grid-top__item .tag {
  position: absolute;
  left: 10px;
}

.grid-top__item h3 {
  bottom: 30px;
}

.grid-top__item p {
  color: silver;
}

.grid-top__item .tag {
  color: rgba(172, 165, 165, 0.87);
  font-weight: bold;
  bottom: 5px;
}

.grid-top__item--main {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
}

.grid-top__item--main h3,
.grid-top__item--main p,
.grid-top__item--main .tag {
  left: 10px;
}

.grid-top__item--main h3 {
  font-size: 2rem;
  bottom: 100px;
}

.grid-top__item--main p {
  bottom: 50px;
}

.grid-top__item--main .tag {
  bottom: 10px;
}

.grid-middle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  gap: 8px 10px;
      grid-template-areas: ". . ." ". . .";
}

.grid-middle__item {
  cursor: pointer;
  position: relative;
  color: #212121;
}

.grid-middle__item img {
  width: 100%;
}

.grid-middle__item h3 {
  font-size: 1rem;
}

.grid-middle__item p {
  margin: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #4a4a4a;
}

@media screen and (max-width: 540px) {
  .grid-top {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (15vh)[7];
        grid-template-rows: repeat(7, 15vh);
    gap: 10px;
        grid-template-areas: "main" "main" "main" "." "." "." ".";
  }
  .grid-middle {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (15vw)[3];
        grid-template-rows: repeat(3, 15vw);
    gap: 0;
        grid-template-areas: "." "." ".";
  }
  .grid-middle__item {
    border-bottom: 1px solid silver;
  }
  .grid-middle__item p,
  .grid-middle__item img {
    display: none;
  }
}
/*# sourceMappingURL=style-bbc.css.map */