* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /**/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgray;
  height: 10vh;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
  position: relative;
  right: 10em;
}

.header__left--img {
  width: 50px;
  height: 50px;
  margin-right: 1em;
}

.header__right {
  /**/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
  position: relative;
  left: 5em;
}

.header__right--color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 2em;
}

.header__right--color--paint {
  margin-left: 0.5em;
  cursor: pointer;
}

.section {
  background-color: greenyellow;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.section--btn {
  border-radius: 10rem;
  padding: 0.5em;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: brown;
  color: white;
}

.section--btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.section--btn--add {
  margin-right: 1em;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal-bg__modal {
  position: relative;
  background-color: black;
  color: white;
  width: 40%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
}

.modal-bg__modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-bg__modal form label {
  margin: 0.5em 0;
  text-align: center;
  font-size: 1.1rem;
}

.modal-bg__modal form input,
.modal-bg__modal form textarea {
  border-radius: 10px;
  text-indent: 0.7em;
  width: 70%;
  margin: 0 auto;
}

.modal-bg__modal form input:focus {
  outline: none;
}

.modal-bg__modal form textarea:focus {
  outline: none;
}

.modal-bg__modal form p {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-bg__modal form p select {
  margin-left: 1em;
  border-radius: 10px;
}

.modal-bg__modal form p select:focus {
  outline: none;
}

.modal-bg__modal form .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-bg__modal .btn-modal {
  border-radius: 10rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  width: 35%;
  margin: 0 auto;
}

.modal-bg__modal .btn-modal:hover {
  opacity: 0.7;
  cursor: pointer;
}

.modal-bg__modal .add {
  background-color: red;
}

.modal-bg__modal .edit {
  background-color: blue;
}

.modal-bg__modal .modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.pepe {
  margin-top: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[3];
      grid-template-columns: repeat(3, 100px);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.boardData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: black;
  height: 80vh;
  /*responsibl*/
  color: white;
}

.boardData th {
  text-align: left;
}

.boardData td {
  text-align: center;
}

.boardData span {
  margin-top: 0.4rem;
}

.boardData-checks + i {
  cursor: pointer;
}

.boardData [type=radio] + span {
  cursor: pointer;
}

.boardData--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 1em 0;
  height: 35%;
}

.boardData--item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.boardData--red {
  -webkit-box-shadow: pink 0px 0px 0px 3px;
          box-shadow: pink 0px 0px 0px 3px;
}

.boardData--green {
  -webkit-box-shadow: #c0ffc0 0px 0px 0px 3px;
          box-shadow: #c0ffc0 0px 0px 0px 3px;
}

.boardData--yellow {
  -webkit-box-shadow: #fbffc0 0px 0px 0px 3px;
          box-shadow: #fbffc0 0px 0px 0px 3px;
}

.iconos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 0.4em;
  grid-column-gap: 0.5em;
}

.delete {
  color: red;
}

.done {
  color: green;
}

.edit {
  color: yellow;
}
/*# sourceMappingURL=style.css.map */