* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.header {
    background-color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__prevpage,
    &__nextpage {
        text-decoration: none;
        padding: 5px;
        font-family: arial;
        text-transform: uppercase;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 800;
        font-size: 15px;
        color: black;
        background-color: salmon;
        border-radius: 30px;
        position: relative;
        left: 15%;
    }

    &__prevpage:hover,
    &__nextpage:hover {
        color: #9b0e0e;
        background-color: #bc6355;
        text-decoration: none;
    }

    &__title {
        color: white;
    }

}

.boardHotel {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 20px;

    &__nohotel {
        position: absolute;
        top: 50%;
        left: 20%;
        color: white;
        font-size: 30px;
    }

    
    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &--name {
            color: white;
            font-size: 1.5rem;
            position: relative;
            left: 30%;
        }

        &--img {
            margin-right: 40px;
        }

        &--address {
            max-width: 400px;
            margin-top: 10px;
            color: white;
            margin-bottom: 10px;
        }

        &__box {
            position: absolute;
            top: 90%;

            &--price {
                color: white;
                margin-top: 10px;

            }

        }

    
    }
    

}