* {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.top-menu {
    background-color: #122536;
    color:white;
    display: flex;
    justify-content: center;
    width:100%;
    height:3rem;
    margin: auto;
}

.top-menu__logo {
    position:absolute;
    right:15%;
    height: 2.2rem;
    margin: 2px;
}

.top-menu_sm-button__wrapper {
    height: 1.5rem;
    position: absolute;
    top:0.8rem;
    left:35%
}

.top-menu__sm-button {
    color: #122536;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 25px;
}

.top-menu__sm-button:hover {
    background-color: #20A3C5;
}

.newsflashs {
    display: flex;
    margin: 0.8rem 0;
}

.newsflashs__title {
    background-image: linear-gradient(to left,#800100, #0B0A06);
    color: white;
    font-size: 20px;
    text-decoration: none;
    width: 120px;
    margin-left: 50px;
}

.secondary-menu {
    position: sticky;
    top: 0;
    background-color: #DCE9ED;
    display: flex;
    justify-content: center;
    width:100%;
    z-index: 1;
}

.secondary-menu__element {
    display: flex;
    justify-content:space-around;
    padding:0.6rem;
    color:#122536;
    border-left:1px solid #122536;
}

.secondary-menu__element:hover {
    background-color:#122536;
    color:white;
}

.secondary-menu__element--first {
    border-left:0;
}

.section__header {
    background-color:#980D00;
    display: flex;
    flex-direction: column;
    justify-content: center;  

    
}
.sectionheader--bigimage {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.sectionheader--bigimage:hover{
    -ms-transform: scale(1.01); 
-webkit-transform: scale(1.01); 
transform: scale(1.01); 
} 


.sectionheader--smallimage:hover{
    -ms-transform: scale(1.01); 
-webkit-transform: scale(1.01); 
transform: scale(1.01); 

}

.justify{
    margin: auto;
}

.text1{
text-align: center;
color:white;
margin: 10px;
font-size: 41px;
}

.section__header--imageinline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sectionheader--smallimage img{
width: 100%;
}

.sectionheader--smallimage{
position: relative;
}

.textblock{
position: absolute;
bottom: 4px;
font-size: 35px;
background: 0% 0%;
background-color: #05151f;
text-align: right;
word-spacing: 0px;
padding: 7px 8px 9px 8px;
text-decoration: none solid rgb(255, 255, 255);
letter-spacing: 0.28px;
color: #ffffff;
text-align: center;
opacity: 0.8;
}

.textblock1{
position: absolute;
bottom: 4px;
text-decoration: none solid rgb(255, 255, 255);
letter-spacing: 0.28px;
font-size: 15px;
padding: 7px 8px 9px 8px;
height: 60px;
background: 0% 0%;
background-color: #05151f;
text-align: right;
word-spacing: 0px;
color: #ffffff;
opacity: 0.8;
text-align: center;
}

.main__wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 30px;
}

.suggestions__wrapper {
    border: 12px solid #E7EAEB;
    width: 20%;
}

.suggestions__logo {
    display: block;
    margin: auto;
    width: 60%;
}

.suggestion {
    display: flex;
    width: 90%;
    border-top: 1px #d4d9da solid;
    margin: 0 10px;
}

.suggestion:hover {
    background-color: lightgrey;
}

.suggestion__element-before {
    color: #C41211;
    font-size: 10px;
    margin-bottom: 4px;
}

.suggestion__element-main {
    font-size: 14px;
    color: #1b2e3e;
    margin: 0 0 2px 0;
}

.suggestion__element-main:hover {
    text-decoration: underline;
}

.suggestion__element-image {
    width: 100%;
    height: 100%;
    margin: 10px 0;
}

.suggestion__element-sub {
    font-size: 10px;
    color: #93a4b0;
    margin-top: 0;
}

.news__wrapper {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.news__wrapper--main {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #E7EAEB;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.news__category {
    width: 100%;
    background-image: linear-gradient(to left,#800100, #0B0A06);
    color: white;
    font-size: 20px;
    text-align: end;
    padding-right: 20px;
}

.news__double {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 10px;
    width: 42%;
    max-height: max-content;
}

.news__double img{
    width: 100%;
    height: 85%;
    margin-top: 10px;
}

.news__double--title{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 4px;
}

.news__double--title:hover {
    text-decoration: underline;
}

.news__square {
    flex-wrap: wrap; 
    display: flex;
    width: 55%;
    margin-top: 10px;
    margin-right: 0;
    justify-content: center;
}

.news__image {
    width: 70px;
    height: 70px;
}

.news__content {
    display: flex;
    width: 90%;
    border-top: 1px #d4d9da solid;
    padding: 10px;
}

.news__content--titles {
    align-self: center;
    width: 90%;
}

.news__wrapper--small {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #E7EAEB;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.news__category--small {
    width: 100%;
    background-color: #201F1F;
    color: white;
    font-size: 20px;
    text-align: end;
    padding-right: 20px;
    margin-bottom: 10px;
}

.news__small {
    width: 25%;
    text-align: center;
}

.news__small__text--category{
    font-size: 10px;
    color: #C41211;
    margin: 0;
}

.news__small__text--main{
    font-size: 14px;
    color: #1b2e3e;
    margin: 3px;
}

.news__small__text--main:hover {
    text-decoration: underline;
}