.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #128c7e;

  &__left {
    display: flex;
    gap: 2rem;
    align-items: center;
    text-align: center;
    &__profile {
      img {
        width: 30px;
        border-radius: 50%;
      }
    }
    &__name {
      h3 {
        font-size: 1.6rem;
        font-weight: 400;
        margin: 0;
      }
    }

    &__search{
      input{
      display: none;
      }
    }
  }

  &__right {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

.content {
  max-height: 0;
 
  // overflow: hidden;
  &__full-chat-block {
    width: 100%;
    background-image: url("/images/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    &__outer-container {
      min-height: 755px;
      position: relative;
      bottom: 0%;

      &__chat-container {
      
        width: 100%;
        position: absolute;   
        bottom: 0;
        left: 0;
        scroll-behavior: smooth;
        hyphens: auto;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
  .chat-bar-input-block {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .chat-bar-icons {
      display: flex;
      gap: 1rem;
    }
    #userInput {
      width: 75%;
      .input-box {
        border-radius: 1rem 1rem;
        width: 100%;
        outline: none;
      }
    }
  }
}

@include telefono {
.container{
  max-width: 80vw;
}
  .content {
    &__full-chat-block {
      &__outer-container {
        min-height:95vh;
        
        position: relative;
        bottom: 0%;
      }
      &__chat-container {
        
        &::-webkit-scrollbar {  
          display: none;
        }
      }
    }
  }
.header__left__search{
  input{
    display: block;
    display: flex;
    text-align: right;
  }
}

}
