@-webkit-keyframes glow {
  from {
    -webkit-box-shadow: 4px 4px 40px 0px black;
    box-shadow: 4px 4px 40px 0px black;
  }
  to {
    -webkit-box-shadow: 3px 3px 30px 0px #3d6ded;
    box-shadow: 3px 3px 30px 0px #3d6ded;
  }
}

@keyframes glow {
  from {
    -webkit-box-shadow: 4px 4px 40px 0px black;
    box-shadow: 4px 4px 40px 0px black;
  }
  to {
    -webkit-box-shadow: 3px 3px 30px 0px #3d6ded;
    box-shadow: 3px 3px 30px 0px #3d6ded;
  }
}

* {
  font-family: 'Raleway', sans-serif;
}

html {
  margin: 0;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: 'Rockwell', sans-serif;
}

h2 {
  margin: 20px 0;
  text-transform: uppercase;
}

i {
  margin-right: 10px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: unset;
}

.emphasize {
  color: #4472c4;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-image: url("https://cdn.pixabay.com/photo/2017/12/29/17/53/background-3048166_960_720.jpg");
  background-size: cover;
  width: 100%;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  -ms-grid-rows: (fit-content)[4];
      grid-template-rows: repeat(4, -webkit-fit-content);
      grid-template-rows: repeat(4, fit-content);
      grid-template-areas: "img linkedin" "img mail" "img phone" "myName city";
}

.header__item {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item--img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: img;
  border-radius: 100px;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

.header__item--name {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: myName;
  height: 66.6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__item--linkedin {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: linkedin;
  color: #3467C2;
}

.header__item--mail {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: mail;
}

.header__item--phone {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: phone;
}

.header__item--city {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: city;
}

main {
  margin: 0 20px;
}

.card {
  background-image: -webkit-gradient(linear, left top, right bottom, from(white), to(lightgray));
  background-image: linear-gradient(to bottom right, white, lightgray);
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 40px 0px black;
  box-shadow: 4px 4px 40px 0px black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  padding: 20px;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card:hover {
  -webkit-animation: glow 1.2s infinite alternate;
          animation: glow 1.2s infinite alternate;
}

.logo_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  -ms-grid-rows: (fit-content)[2];
      grid-template-rows: repeat(2, -webkit-fit-content);
      grid-template-rows: repeat(2, fit-content);
      grid-template-areas: "when title" "logo details";
}

.logo_grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_grid__item--when {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: when;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

.logo_grid__item--logo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: logo;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo_grid__item--logo img {
  border-radius: 1vw;
  width: 8vw;
  height: 8vw;
}

.logo_grid__item--logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 1s;
}

.logo_grid__item--title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
}

.logo_grid__item--title .bold {
  font-weight: bold;
  margin-right: 10px;
}

.logo_grid__item--details {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: details;
  display: unset;
}

@media screen and (max-width: 600px) {
  .hide {
    display: none;
  }
  .card {
    margin: 20px 0;
  }
  .header {
    width: 100vw;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (fit-content)[3];
        grid-template-rows: repeat(3, -webkit-fit-content);
        grid-template-rows: repeat(3, fit-content);
        grid-template-areas: "img img img img" "myName myName myName myName" "linkedin mail phone city";
  }
  .header__item--name {
    height: unset;
  }
  .header__item--img {
    height: 100px;
    width: 100px;
  }
  .logo_grid {
    -ms-grid-rows: (fit-content)[3];
        grid-template-rows: repeat(3, -webkit-fit-content);
        grid-template-rows: repeat(3, fit-content);
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "title" "when" "details";
  }
  .logo_grid__item--logo {
    display: none;
  }
}
/*# sourceMappingURL=cv.css.map */