@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}
.container{
    margin: 0px auto;
    padding: 25px;
    border-radius: 5px;
    &__input{
        border-radius: 10px;
        padding: 20px 0;
        margin: 30px 0;
        color: #000;
        background: #f0f0f0;
        box-shadow: 0px 0px 6px 0px rgba(8, 0, 8, 1);
        -webkit-box-shadow: 0px 0px 6px 0px rgba(8, 0, 8, 1);
        -moz-box-shadow: 0px 0px 6px 0px rgba(8, 0, 8, 1);
        h2{
            padding: 10px 0;
            text-align: center;
            font-size: 22px;
        }

      
    }
}
.enteryForm{
    padding: 10px 0;

    form{
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: 0 auto;
    }
    form label{
        font-weight: 500;
        opacity: 0.7;
    }
    form label, form input{
        display: block;
        outline: none;
        border-radius: 25px;
        border: none;
    }
    form input[type = "text"], form input[type = "number"],form input[type = "email"]{
        color: #000;
        font-family: inherit;
        font-size: 16px;
        padding: 10px 18px;
        margin: 12px 0;
        transition: all 0.5s ease;
    }
    form input:focus{
        background: #252525;
        color: #fff;
    }
   
}

.input-btns{
    text-align: center;
}
button{
    display: block;
    width: 160px;
    margin: 20px auto;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 25px;
    color: #fff;
    background: #000411;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.5s ease;
    outline: none;
}

button:hover{
    opacity: 1;
}

.display__output{
    border-radius: 10px;
    padding: 20px 0;
    margin: 30px 0;
    box-shadow: 0px 0px 6px 0px rgba(8, 0, 8, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(8, 0, 8, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(8, 0, 8, 1);
    background: #e52165;
    color: #fff;
    position: relative;
    h2 {
        padding: 10px 0;
        text-align: center;
        font-size: 22px;
    }
}



.record-el{
    display: block;
    padding: 4px 0;
    text-align: center;
    opacity: 0.9;
}
.record-item{
    color: #000;
    border-radius: 10px;
    padding: 10px 25px;
    margin: 15px 0;
    background: #fff;
    box-shadow: 0 0 6px #777;

 
}