* {
    box-sizing: border-box;
  }
   
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(
        to right, 
        #f9fd02 0%, 
        #f7e817 50%, 
        #000000 50%, 
        #1b1a1a 100%
      );
    font-family: 'Roboto', sans-serif;
  }
  .shopping-cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
  }
  .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }
   

  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }
  .count {
    text-align:center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
   
  .shopping-list__item-wrapper__item-image {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-right: 50px;
}
.shopping-list__item-wrapper__item-image:hover {
    transform: scale(1.1);
    }

.shopping-list__item-wrapper__item-name {
    font-size: 1rem;
    margin-top: 20px;
    color: red;
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;

  
}

.shopping-list__item-wrapper__item-price {
    font-size: 1rem;
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
    
    
}