* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: white    ;
    background-color: black;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pikachu,.ash {

    width: 100px;
    height: 100px;
}