body {
  background-color: bisque;
}

.big_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__article {
  padding: 20px;
}

.container__article--recife {
  height: 400px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: border--recife;
          animation-name: border--recife;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.container__article--london {
  height: 400px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: border--london;
          animation-name: border--london;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.container__article--zichron {
  height: 400px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: border--zichron;
          animation-name: border--zichron;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.container__article--me {
  border: 3px solid black;
  height: 400px;
  -webkit-transition: 3s ease-in-out;
  transition: 3s ease-in-out;
}

.container__article:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.container__article--rl {
  height: 400px;
  position: relative;
  -webkit-animation: move--tsa 5s infinite;
          animation: move--tsa 5s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.container__article--cm {
  height: 400px;
  position: relative;
  -webkit-animation: move--cm 5s infinite;
          animation: move--cm 5s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.container__article--tsa {
  height: 400px;
  position: relative;
  -webkit-animation: move--tsa 5s infinite;
          animation: move--tsa 5s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.container__article--itc {
  border: 3px solid black;
  height: 400px;
  -webkit-transition: 3s ease-in-out;
  transition: 3s ease-in-out;
}

.container__article:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

@-webkit-keyframes border--recife {
  from {
    border: 10px solid green;
  }
  to {
    border: 10px solid yellow;
  }
}

@keyframes border--recife {
  from {
    border: 10px solid green;
  }
  to {
    border: 10px solid yellow;
  }
}

@-webkit-keyframes border--london {
  from {
    border: 10px solid red;
  }
  to {
    border: 10px solid blue;
  }
}

@keyframes border--london {
  from {
    border: 10px solid red;
  }
  to {
    border: 10px solid blue;
  }
}

@-webkit-keyframes border--zichron {
  from {
    border: 10px solid white;
  }
  to {
    border: 10px solid blue;
  }
}

@keyframes border--zichron {
  from {
    border: 10px solid white;
  }
  to {
    border: 10px solid blue;
  }
}

@-webkit-keyframes move--tsa {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}

@keyframes move--tsa {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}

@-webkit-keyframes move--rl {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}

@keyframes move--rl {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}

@-webkit-keyframes move--cm {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}

@keyframes move--cm {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}
/*# sourceMappingURL=styles_animation.css.map */