* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  background-color: #128c7e;
  color: white;
}

nav .top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .top-container .headline {
  width: 85%;
  font-size: 1.25rem;
  font-weight: 600;
}

nav .top-container__search-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
}

nav .top-container__search-menu-container .fa-ellipsis-v {
  justify-self: flex-end;
}

nav .bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .bottom-container .fa-camera {
  width: 10%;
  text-align: center;
  color: rgba(255, 255, 255, 0.473);
}

nav .bottom-container__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav .bottom-container__inner-container .chats {
  width: 33%;
  text-align: center;
  padding: 1em;
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: white 2px solid;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
}

nav .bottom-container__inner-container .chats:focus {
  color: white;
  border-bottom: white 2px solid;
}

nav .bottom-container__inner-container .status {
  width: 33%;
  text-align: center;
  padding: 1em;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.473);
}

nav .bottom-container__inner-container .calls {
  width: 33%;
  text-align: center;
  padding: 1em;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.473);
}

main {
  background-image: url("https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg");
  padding-bottom: 30em;
}

main .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.4em;
  height: 65px;
}

main .contact-container__contact-image {
  width: 15%;
  border-radius: 50%;
  margin-right: 0.2em;
  -o-object-fit: cover;
     object-fit: cover;
}

main .contact-container__info-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 85%;
  padding-bottom: 0.5em;
  border-bottom: rgba(128, 128, 128, 0.493) 1px solid;
}

main .contact-container__info-container__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .contact-container__info-container__inner-container .contact-name {
  width: 85%;
}

main .contact-container__info-container__inner-container .time {
  color: grey;
  width: 15%;
}

main .contact-container__info-container .last-message {
  color: grey;
}

.new-message {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #128c7e;
  border-radius: 50%;
  padding: 8px;
  z-index: 2;
  -webkit-filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.199));
          filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.199));
}
/*# sourceMappingURL=main.css.map */