


.button {
    background-color: blue;
    text-decoration: none;
    
}

.form_modal{
width:100%;
height: 100%;
background-color:rgba(0,0,0,0.7);
position: absolute;
top: 0;
display: flex;
justify-content: center;
align-items: center;
display: none;
}
.modal_content{
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 50px;
    height: 50px;
}
input{
    width: 300px;
    display: block;
    margin: 15px auto;
    text-align: center;
}
.close{
    position: absolute;
    top:0;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}

.box{
  
    display: flex;
    width:400px;
    justify-content: center;
    
}
#gameBoard {
   
    background-image: url('https://cutewallpaper.org/21/southpark-backgrounds/South-Park-Background-Wallperio.com.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 90vw;
    height: 75vh;
}
.piece {

    position: relative;
    transition: all 200ms;
}