
#tennis{
    left: 35%;
    top: 25%;
    position: absolute;
}

   
    .tennisDown{
        transform: rotate(90deg);
    }
    .tennisRight{
        transform: rotate(0deg);
    }
    .tennisUp{
        transform: rotate(270deg);
    }
    .tennisLeft{
        transform: scaleX(-1);
    }


    
