* {
  font-family: 'Cairo', sans-serif;
}

html,
body {
  margin: 0;
  background: cadetblue;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.top-menu {
  background-color: limegreen;
  display: flex;
  justify-content: space-evenly;
  font-style: oblique;
  align-items: center;

  &__title {
    color: #333333;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 100px;
  }

  &__button {
    text-decoration: none;
    background: black;
    color: white;
    padding: 5px;
    border-radius: 50px;
    width: 55px;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.allinformation {
  height: max-content;
  background-color: peru;
  padding-bottom: 10px;
}
.information {
  background: peru;
  width: 90%;
  margin: auto;
  height: 100%;
  padding-top: 20px;

  &__survey {
    &--title {
      width: 90%;
      font-size: 25px;
      font-weight: 700;
      display: block;
      text-align: center;
      margin: auto;
    }
    &--button {
      display: block;
      margin: auto;
      margin-top: 15px;
      width: 175px;
    }

    &__questions {
      display: flex;
      width: 50%;
      justify-content: space-evenly;
      margin: auto;
      margin-top: 15px;
    }
  }
  &__question {
    display: flex;
    justify-content: center;
    background: cadetblue;
    width: 90%;
    margin: auto;
    border-radius: 50px;
    margin-top: 25px;

    &--title {
      width: 90%;
      display: flex;
      justify-content: center;
    }

    &--buttons {
      display: flex;
      align-items: center;
      padding-right: 12px;
    }
  }
}

.options {
  display: flex;
  justify-content: space-evenly;
  margin-top: 75px;

  a {
    text-decoration: none;
    background: black;
    color: white;
    padding: 20px;
    border-radius: 50px;
    width: 75px;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: white;
      color: black;
    }
  }
  &--createSurvey {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;

    button {
      text-decoration: none;
      background: black;
      color: white;
      padding: 20px;
      border-radius: 50px;
      width: 140px;
      display: flex;
      justify-content: center;

      &:hover {
        background-color: white;
        color: black;
        cursor: pointer;
      }
    }
  }
  &--button {
    background: antiquewhite;
    width: 35%;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 35%;
    a{
      text-decoration: none;

      &:hover {
        color: green;
      }
    }
  }
}

.form {
  padding: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  margin: 25px auto;
  background: #5f9ea0;
  justify-content: center;
  align-items: center;

  &__submit {
    &--newuser {
      background-color: black;
      color: white;
      border-radius: 100px;

      &:hover {
        background-color: white;
        color: black;
        cursor: pointer;
      }
    }
  }

  &__input--image {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50px;
  }
}

.register {
  background-color: peru;
}

.form__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  &--edit {
    display: block;
    text-align: center;

    &--question {
      width: 100%;
    }

    &--button {
      margin-top: 10px;
    }
  }

  & input {
    margin: 15px;
    width: 70%;
  }

  label {
    font-weight: bolder;
    display: flex;
    align-items: center;
  }

  &--submit {
    display: flex;
    justify-content: center;
  }
}

.wrapper__register {
  justify-content: space-between;
}

#errorMessage {
  color: white;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.nameUser__title {
  color: white;
}

.showSurvey {
  display: flex;
  justify-content: center;

  &__title {
    background: peru;
    display: flex;
    width: 50%;
    justify-content: center;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
    height: 50px;
    align-items: center;
    font-weight: bold;

    &:hover {
      color: white;
      background-color: brown;
    }
  }
}

.button--pointer {
  cursor: pointer;
  margin-left: 10px;

  &:hover {
    color: white;
  }
}

.button__survey {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: brown;
  }
}

.button__share {
  display: flex;
  padding-right: 25px;
  font-size: 50px;
  color: brown;
  cursor: pointer;
  width: fit-content;
  align-items: center;

  &:hover {
    color: black;
  }
}

.survey__title {
  display: flex;
  justify-content: center;
  background: brown;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  height: 50px;
  align-items: center;
  border-radius: 50px;
  margin-bottom: 20px;
}

.survey__information--title {
  display: flex;
}

.allinformation--questions {
  height: 100vh;
  background-color: peru;
  padding: 10px 0;
}

.survey__questions {
  background: burlywood;
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 10px;
  height: 50px;
  align-items: center;
  border: 2px solid black;
}

.submit {
  justify-content: space-between;

  &__button {
    background-color: black;
    margin: auto;
    color: white;
    border-radius: 100px;
    padding: 15px;
    display: flex;

    &:hover {
      background-color: white;
      color: black;
      cursor: pointer;
    }
  }
}

.button--disabled {
  background: gray !important;
  cursor: not-allowed !important;
}

.title--modify {
  justify-content: space-around;
}

//////////////////////////MODAL////////////////////////
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  /* Modal Content */
  &-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: auto;
    padding: 20px;
    width: 80%;
  }
}

/* Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  bottom: 15px;
  left: 50px;
}

.modalEdit {
  h3 {
    text-align: center;
  }
}

//////////STARS TO VOTE////////////
.votation {
  input[type="radio"] {
    display: none;
  }

  label {
    color: grey;
  }

  .raitings {
    direction: rtl;
    unicode-bidi: bidi-override;
    margin-right: 15px;
  }

  label:hover,
  label:hover ~ label {
    color: orange;
  }

  input[type="radio"]:checked ~ label {
    color: orange;
  }
}
