body {
    margin: 0;
    padding: 0;
    background-image: url("https://th.bing.com/th/id/R55ef1f07612be8cc0d680ff8962fe13f?rik=o9zod67M%2fluJ1A&pid=ImgRaw");
    background-size: cover;
}

.wrapper {
    width: 700px;
    height: 800px;
    margin: auto;
    background-color: peru;
    margin-top: 10px;
    animation-name: animWrapper;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animWrapper {
    from {
        border-radius: 5%;  
        }

      to {
        border-radius: 50%;
        }
    }

header {
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin: 0 20px 40px 20px;
    background-color: black;
    border-radius: 100px;
    border: 4px solid white;
    animation-name: headerWrapper;
    animation-duration: 5s;
    h1 {
        margin: 10px;
        color: white;
    }
}

@keyframes headerWrapper {
    from {
        margin-bottom: 100%;
        width: 300%;
      }
    
      75% {
        font-size: 300%;
        margin-bottom: 25%;
        width: 150%;
      }
    
      to {
        margin-bottom: 8%;
        width: 100%;
      }
    }

.card {
    width: 20%;
    text-align: center;
    margin-left: 10px;
    border-radius: 40px;
    
    &--first {
        background-color: black;
        color: white;
        border: 4px solid white;
        animation: firstCard 10s linear 0s infinite alternate forwards;
    }

    &--second {
        background-color: white;
        color: black;
        border: 4px solid black;
        position: relative;
        animation: secondCard 10s linear 0s infinite alternate forwards;
    }

    &--third {
        background-color: white;
        color: black;
        border: 4px solid black;
        position: relative;
        animation: thirdCard 10s linear 0s infinite alternate forwards;
    }

    &--fourth {
        background-color: white;
        color: black;
        border: 4px solid black;
        position: relative;
        animation: fourthCard 10s linear 0s infinite alternate forwards;
    }
    
    &__wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

    @keyframes firstCard {
        from {
            background-color: white;
            color: black;
            border: 4px solid black;
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
    }
}

    @keyframes secondCard {
        from {
            background-color: black;
            color: white;
            border: 4px solid white;
            top: 0;
    }
        to {
            top: 230px;
    }
}

    @keyframes thirdCard {
        from {
            font-size: 24px;
    }
        to {
            font-size: 12px;
    }
}

    @keyframes fourthCard {
        0% {
            color: red;
            transform: rotate(0deg);
    }
        50% {
            color: blue;
    }
        100% {
            color: black;
            transform: rotate(10deg);
}
}




  .name{
    color: #aaa;
    font-size: 12px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: right;
  }
  
  .name div:first-of-type{
    font-size: 14px;
  }
  
  .name a{
    color: #aaa;
  }
  
  .name a:hover{
    color: #888;
  }
  
  .left{
    display: flex;
    justify-content: center;
  }
  
  .perspective{
    position: relative;
    right: 500px;
    bottom: 250px;
    perspective: 800px;
    -webkit-perspective: 800px;
  }

  .tardis-wrap{
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
  
    transform : translateZ(-300px);
    -webkit-transform : translateZ(-300px);
  }
  
  .tardis{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 100px auto;
    
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
  
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
  
    transform: rotateX(-20deg) rotateY(-30deg);
    -webkit-transform: rotateX(-20deg) rotateY(-30deg);
  
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes spin{
    from{
      transform: rotateX(0deg) rotateY(0deg);
      top: -720px;
    }
  
    to{
      transform: rotateX(-60deg) rotateY(180deg);
      top: 0px;
    }
  }
  
  
  
  /*
  #
  # Begin details
  #
  */
  .tardis .side{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 360px;
    background-color: #3f577d;
    
    box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
  
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    z-index: 1;
  }
  
  .side:nth-of-type(1){
    transform : translateZ(100px);
    -webkit-transform : translateZ(100px);
  }
  
  .side:nth-of-type(2){
    transform : rotateY(90deg) translateZ(100px);
    -webkit-transform : rotateY(90deg) translateZ(100px);
  }
  
  .side:nth-of-type(3){
    transform : rotateY(180deg) translateZ(100px);
    -webkit-transform : rotateY(180deg) translateZ(100px);
  }
  
  .side:nth-of-type(4){
    transform : rotateY(-90deg) translateZ(100px);
    -webkit-transform : rotateY(-90deg) translateZ(100px);
  }
  
  .tardis .roof{
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url("https://th.bing.com/th/id/R5369da17eb34bec5575450b4156cdac0?rik=RpSm6H7XjR3OfQ&pid=ImgRaw");
    background-size: cover;
    background-position: 50%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    
    transform : rotateX(-90deg) translateZ(-100px);
    -webkit-transform : rotateX(-90deg) translateZ(-100px);
    z-index: 2;
  }
  
  /* Floor */
  .tardis .floor{
    position: absolute;
    width: 220px;
    height: 220px;
    left: -10px;
    top: 360px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
  }
  
  .floor-lid{
    position: absolute;
    width: 220px;
    height: 220px;
    background-color: #355683;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(90deg) translateZ(109px);;
    -webkit-transform: rotateX(90deg) translateZ(109px);;
  }
  
  .floor-panel{
    position: absolute;
    width: 220px;
    height: 10px;
    background-color: #3f577d;
    box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
  }
  
  .floor-panel.a{
    transform: rotateY(0deg) translateZ(110px);
    -webkit-transform: rotateY(0deg) translateZ(110px);
  }
  
  .floor-panel.b{
   transform: rotateY(90deg) translateZ(110px);
   -webkit-transform: rotateY(90deg) translateZ(110px);
  }
  
  .floor-panel.c{
    transform: rotateY(180deg) translateZ(110px);
    -webkit-transform: rotateY(180deg) translateZ(110px);
  }
  
  .floor-panel.d{
    transform: rotateY(-90deg) translateZ(110px);
    -webkit-transform: rotateY(-90deg) translateZ(110px);
  }
  
  

  
  
  
  
  /*
  #
  # Top sign
  #
  */
  .side .top-sign{
    width: 180px;
    height: 28px;
    background-color: #445d84; 
    border: solid 1px #54749f;
    box-shadow: 0px 2px 4px rgba(0,0,0,.4);
    border-radius: 2px;
    position: absolute;
    top: 10px;
    left: 10px;
  
    z-index: 10;
  }
  
  .top-sign .text{
    background-color: red;
    border: solid 1px #54749f;
    border-radius: 2px;
    width: 100px;
    margin: 3px auto;
    height: 20px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    padding: 0px 5px;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,.4);
    position: relative;
  
    text-shadow: 0px 0px 4px rgba(255,255,255, .6);
  }
  
  .text .tiny{
    font-size: 4px;
    line-height: 6px;
    text-align: center;
    width: 20px;
    position: absolute;
    right: 35px;
    top: 4px;
  }
  
  /*
  #
  # Door frame
  #
  */
  .side .door-frame{
    position: absolute;
    width: 160px;
    left: 20px;
    top: 35px;
    bottom: 0px;
  
    background-image: url("https://th.bing.com/th/id/R019b088768cc18120ebf287d0c8549ce?rik=gCrJTYCgohsVxA&pid=ImgRaw");
    background-size: cover;
    background-position: 50%;
    
    box-shadow:inset 0px 2px 8px rgba(0,0,0,.5);
  
    z-index: 5;
  }
  
  
  .door-frame .door{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 77px;
  
    box-shadow:inset 0px 0px 3px rgba(0,0,0,.7);
  }
  
  .door.door-left{
    left: 0px;
  }
  
  .door.door-right{
    right: 0px;
  }
  
  /* Insets */
  .door .door-inset{
    position: absolute;
    left: 10px;
    bottom: 10px;
  
    width: 55px;
    height: 65px;
    box-shadow:inset 0px .5px 5px rgba(0,0,0,.5);
  }
  
  .door-inset:nth-of-type(2){
    bottom: 85px;
  }
  
  .door-inset:nth-of-type(3){
    bottom: 160px;
  }
  
  /* Sign */
  .door .sign{
    position: absolute;
    left: 15px;
    bottom: 165px;
    width: 45px;
    height: 55px;
    background-color: #d5e4f6;
    box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
  }
  
  /* Window */
  .door .window{
    position: absolute;
    left: 10px;
    bottom: 235px;
  
    width: 55px;
    height: 65px;
    background-color: #28475d;
  }
  
  .window .pane{
    width: 14px;
    height: 28px;
    background-color: #dfe7fc;
    float: left;
    margin: 2px;
    box-shadow: inset 0px 0px 10px #fff;
  }
  
  .pane.a{
    margin-left: 3px;
    margin-right: 1px;
  }
  
  .pane.d{
    margin-left: 3px;
    margin-right: 1px;
  }


  #bern {
    width:112px;
    height:156px;
    margin:auto;  
    background-image:url("https://cdn.rawgit.com/ManzDev/cursos-assets/gh-pages/css3/bernard-sprite.png");
    background-repeat: repeat-x;
    animation:walk 1s steps(6) infinite;
    position: relative;
    bottom: 150px;
    left: 400px;
  }

  @keyframes walk {
    0% { background-position:0 }
    100% { background-position:-672px }
  }