#player1 {
    height: 100px;
    width: 100px;
    color:unset;
}

#player2 {
    height: 100px;
    width: 100px;
    color:unset;
}

.circle {
    border-radius: 100px;
}

.rectangualr {
    width: 150px;
}