
body{
    background-image: url('https://static.wikia.nocookie.net/familyguyfanon/images/3/3c/The_Griffin_House.png/revision/latest?cb=20180405011745');
    background-position: center;
    background-size: cover;

}

.form-container {
  width: 18vw;
  background-color: aquamarine;
}

.form-style__characters {

  display: flex;
  flex-direction: column;

  label {
  
    img {
      width: 50px;
    }
  }

  input[type="radio"] {
     display: flex;
     align-items: center;
    width: auto;

    margin: auto;
}
}

.form-style__positions {

    input{width: 100px;}
    
}
.form-style__id {

    input{width: 100px;}
    
}

