body {
  font-family: fantasy;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

h1 {
  color: brown;
  background-color: aliceblue;
  font-size: 2.5rem;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}

h1,
p {
  text-align: center;
}

.body-wrapper {
  width: 90%;
  margin: 0 auto;
  background-color: palegoldenrod;
  padding: 5% 0 80% 0;
}

.form {
  display: flex;
  justify-content: center;
  &__input {
    margin: 0 1em;
    padding: 0.4em;
    cursor: pointer;
  }
  &__button {
    color: tomato;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.8rem;
    &:hover {
      background-color: peru;
      color: white;
    }
  }
}

// JS injected:
.color-wrapper {
  display: flex;
  justify-content: center;
  &__color {
    width: 50%;
    height: 50px;
    margin: 0.6em;
    border: 1px solid rgba(0, 0, 0, 0.63);
    &:hover {
      opacity: 85%;
      cursor: pointer;
    }
  }
  & svg {
    cursor: pointer;
    &:hover {
      fill-opacity: 30%;
    }
  }
}
