body {
  margin: 0;
  padding: 0;
  background-image: url("https://th.bing.com/th/id/R55ef1f07612be8cc0d680ff8962fe13f?rik=o9zod67M%2fluJ1A&pid=ImgRaw");
  background-size: cover;
}

.wrapper {
  width: 700px;
  height: 800px;
  margin: auto;
  background-color: peru;
  margin-top: 10px;
  -webkit-animation-name: animWrapper;
          animation-name: animWrapper;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes animWrapper {
  from {
    border-radius: 5%;
  }
  to {
    border-radius: 50%;
  }
}

@keyframes animWrapper {
  from {
    border-radius: 5%;
  }
  to {
    border-radius: 50%;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 48px;
  margin: 0 20px 40px 20px;
  background-color: black;
  border-radius: 100px;
  border: 4px solid white;
  -webkit-animation-name: headerWrapper;
          animation-name: headerWrapper;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

header h1 {
  margin: 10px;
  color: white;
}

@-webkit-keyframes headerWrapper {
  from {
    margin-bottom: 100%;
    width: 300%;
  }
  75% {
    font-size: 300%;
    margin-bottom: 25%;
    width: 150%;
  }
  to {
    margin-bottom: 8%;
    width: 100%;
  }
}

@keyframes headerWrapper {
  from {
    margin-bottom: 100%;
    width: 300%;
  }
  75% {
    font-size: 300%;
    margin-bottom: 25%;
    width: 150%;
  }
  to {
    margin-bottom: 8%;
    width: 100%;
  }
}

.card {
  width: 20%;
  text-align: center;
  margin-left: 10px;
  border-radius: 40px;
}

.card--first {
  background-color: black;
  color: white;
  border: 4px solid white;
  -webkit-animation: firstCard 10s linear 0s infinite alternate forwards;
          animation: firstCard 10s linear 0s infinite alternate forwards;
}

.card--second {
  background-color: white;
  color: black;
  border: 4px solid black;
  position: relative;
  -webkit-animation: secondCard 10s linear 0s infinite alternate forwards;
          animation: secondCard 10s linear 0s infinite alternate forwards;
}

.card--third {
  background-color: white;
  color: black;
  border: 4px solid black;
  position: relative;
  -webkit-animation: thirdCard 10s linear 0s infinite alternate forwards;
          animation: thirdCard 10s linear 0s infinite alternate forwards;
}

.card--fourth {
  background-color: white;
  color: black;
  border: 4px solid black;
  position: relative;
  -webkit-animation: fourthCard 10s linear 0s infinite alternate forwards;
          animation: fourthCard 10s linear 0s infinite alternate forwards;
}

.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes firstCard {
  from {
    background-color: white;
    color: black;
    border: 4px solid black;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes firstCard {
  from {
    background-color: white;
    color: black;
    border: 4px solid black;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes secondCard {
  from {
    background-color: black;
    color: white;
    border: 4px solid white;
    top: 0;
  }
  to {
    top: 230px;
  }
}

@keyframes secondCard {
  from {
    background-color: black;
    color: white;
    border: 4px solid white;
    top: 0;
  }
  to {
    top: 230px;
  }
}

@-webkit-keyframes thirdCard {
  from {
    font-size: 24px;
  }
  to {
    font-size: 12px;
  }
}

@keyframes thirdCard {
  from {
    font-size: 24px;
  }
  to {
    font-size: 12px;
  }
}

@-webkit-keyframes fourthCard {
  0% {
    color: red;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    color: blue;
  }
  100% {
    color: black;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes fourthCard {
  0% {
    color: red;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    color: blue;
  }
  100% {
    color: black;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

.name {
  color: #aaa;
  font-size: 12px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: right;
}

.name div:first-of-type {
  font-size: 14px;
}

.name a {
  color: #aaa;
}

.name a:hover {
  color: #888;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.perspective {
  position: relative;
  right: 500px;
  bottom: 250px;
  perspective: 800px;
  -webkit-perspective: 800px;
}

.tardis-wrap {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: translateZ(-300px);
  -webkit-transform: translateZ(-300px);
}

.tardis {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 100px auto;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform: rotateX(-20deg) rotateY(-30deg);
  -webkit-transform: rotateX(-20deg) rotateY(-30deg);
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
    top: -720px;
  }
  to {
    -webkit-transform: rotateX(-60deg) rotateY(180deg);
            transform: rotateX(-60deg) rotateY(180deg);
    top: 0px;
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
    top: -720px;
  }
  to {
    -webkit-transform: rotateX(-60deg) rotateY(180deg);
            transform: rotateX(-60deg) rotateY(180deg);
    top: 0px;
  }
}

/*
  #
  # Begin details
  #
  */
.tardis .side {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 360px;
  background-color: #3f577d;
  -webkit-box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
          box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: 1;
}

.side:nth-of-type(1) {
  transform: translateZ(100px);
  -webkit-transform: translateZ(100px);
}

.side:nth-of-type(2) {
  transform: rotateY(90deg) translateZ(100px);
  -webkit-transform: rotateY(90deg) translateZ(100px);
}

.side:nth-of-type(3) {
  transform: rotateY(180deg) translateZ(100px);
  -webkit-transform: rotateY(180deg) translateZ(100px);
}

.side:nth-of-type(4) {
  transform: rotateY(-90deg) translateZ(100px);
  -webkit-transform: rotateY(-90deg) translateZ(100px);
}

.tardis .roof {
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url("https://th.bing.com/th/id/R5369da17eb34bec5575450b4156cdac0?rik=RpSm6H7XjR3OfQ&pid=ImgRaw");
  background-size: cover;
  background-position: 50%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-90deg) translateZ(-100px);
  -webkit-transform: rotateX(-90deg) translateZ(-100px);
  z-index: 2;
}

/* Floor */
.tardis .floor {
  position: absolute;
  width: 220px;
  height: 220px;
  left: -10px;
  top: 360px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.floor-lid {
  position: absolute;
  width: 220px;
  height: 220px;
  background-color: #355683;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(90deg) translateZ(109px);
  -webkit-transform: rotateX(90deg) translateZ(109px);
}

.floor-panel {
  position: absolute;
  width: 220px;
  height: 10px;
  background-color: #3f577d;
  -webkit-box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
          box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.floor-panel.a {
  transform: rotateY(0deg) translateZ(110px);
  -webkit-transform: rotateY(0deg) translateZ(110px);
}

.floor-panel.b {
  transform: rotateY(90deg) translateZ(110px);
  -webkit-transform: rotateY(90deg) translateZ(110px);
}

.floor-panel.c {
  transform: rotateY(180deg) translateZ(110px);
  -webkit-transform: rotateY(180deg) translateZ(110px);
}

.floor-panel.d {
  transform: rotateY(-90deg) translateZ(110px);
  -webkit-transform: rotateY(-90deg) translateZ(110px);
}

/*
  #
  # Top sign
  #
  */
.side .top-sign {
  width: 180px;
  height: 28px;
  background-color: #445d84;
  border: solid 1px #54749f;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.top-sign .text {
  background-color: red;
  border: solid 1px #54749f;
  border-radius: 2px;
  width: 100px;
  margin: 3px auto;
  height: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  padding: 0px 5px;
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.4);
  position: relative;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.6);
}

.text .tiny {
  font-size: 4px;
  line-height: 6px;
  text-align: center;
  width: 20px;
  position: absolute;
  right: 35px;
  top: 4px;
}

/*
  #
  # Door frame
  #
  */
.side .door-frame {
  position: absolute;
  width: 160px;
  left: 20px;
  top: 35px;
  bottom: 0px;
  background-image: url("https://th.bing.com/th/id/R019b088768cc18120ebf287d0c8549ce?rik=gCrJTYCgohsVxA&pid=ImgRaw");
  background-size: cover;
  background-position: 50%;
  -webkit-box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.door-frame .door {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 77px;
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.7);
}

.door.door-left {
  left: 0px;
}

.door.door-right {
  right: 0px;
}

/* Insets */
.door .door-inset {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 55px;
  height: 65px;
  -webkit-box-shadow: inset 0px 0.5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0.5px 5px rgba(0, 0, 0, 0.5);
}

.door-inset:nth-of-type(2) {
  bottom: 85px;
}

.door-inset:nth-of-type(3) {
  bottom: 160px;
}

/* Sign */
.door .sign {
  position: absolute;
  left: 15px;
  bottom: 165px;
  width: 45px;
  height: 55px;
  background-color: #d5e4f6;
  -webkit-box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
          box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
}

/* Window */
.door .window {
  position: absolute;
  left: 10px;
  bottom: 235px;
  width: 55px;
  height: 65px;
  background-color: #28475d;
}

.window .pane {
  width: 14px;
  height: 28px;
  background-color: #dfe7fc;
  float: left;
  margin: 2px;
  -webkit-box-shadow: inset 0px 0px 10px #fff;
          box-shadow: inset 0px 0px 10px #fff;
}

.pane.a {
  margin-left: 3px;
  margin-right: 1px;
}

.pane.d {
  margin-left: 3px;
  margin-right: 1px;
}

#bern {
  width: 112px;
  height: 156px;
  margin: auto;
  background-image: url("https://cdn.rawgit.com/ManzDev/cursos-assets/gh-pages/css3/bernard-sprite.png");
  background-repeat: repeat-x;
  -webkit-animation: walk 1s steps(6) infinite;
          animation: walk 1s steps(6) infinite;
  position: relative;
  bottom: 150px;
  left: 400px;
}

@-webkit-keyframes walk {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -672px;
  }
}

@keyframes walk {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -672px;
  }
}
/*# sourceMappingURL=styles.css.map */