* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    border:2px solid red;
    width: 70vw;
    height: 100vh;
    position: relative;
    left: 30vw;

    .container__header{
        background-color: #292E31;
        width: 100%;
        height: 12vh;
        display: flex;
        align-items: center;
        

        img{
            border-radius: 50%;
            width: 60px;
            height: 60px;
            margin-left: 10px;
            /* opacity */
            cursor:pointer;
        }

        &__text{
            display: flex;
            flex-direction: column;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: white;

            &__first{
                font-size: 1.3rem;
            }

            &__second{
                font-size: 0.7rem;
            }
        }

    }
}