.card-container {
position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
    padding: 3rem;

    .card {
        position: relative;
        max-width: 30rem;
         height: 21.5rem;
       background-color: #fff;
       margin: 3rem 1rem;
       padding: 2rem 1.5rem;
       display: flex;
       flex-direction: column;
       box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
       transition: 0.3s ease-in-out;

       &:hover{
        height: 42rem;
       }

        .card__img-container {
            position: relative;
            width: 26rem;
         height: 26rem;
         top: -60px;
         left: 20px;
         z-index: 1;
         box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

            & img {
           
                border-radius: 0.5rem;
            }
        }

        .card__content{
            position: relative;
            margin-top: -14rem;
            padding: 1rem 1.5rem;
            text-align: center;
            color: #111;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s ease-in-out;
            
            
          
        }

        &:hover .card__content{
                visibility:visible;
                opacity: 1;
                margin-top: -8rem;
                transition-delay: 0.3s;

        }


       
    }


}

