body {
    display: flex;
    justify-content: center;
    background-color: black;
    overflow: hidden
}
div {
    display: flex;
}
img {
    width: 40px;
    height: 30px;
    border-radius: 100%;
    margin-bottom: 1rem;
}
.piece {

    position: absolute;
    transition: all 200ms;
}

label {
    font-family: fantasy;
    color: whitesmoke;
    mix-blend-mode: difference;
    font-size: larger;
}
.submit-button {
    font-size: 2rem;
    border-radius: 100%;
    font-family: fantasy;
    background-color:firebrick;
    color: floralwhite;
    width: 100px;
    cursor: pointer;
    margin-top: 2rem;
}

#boardGame {
    width: 100vw;
    height: 100vh;
    background-image: url(Battlefield3ds.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

form {
    width: fit-content;
    height: 91.5vh;
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px;
    background-image: url(bowser.jpeg);
    background-repeat: repeat-y;
    background-size: contain;
}

input {
    display: block;
    padding: 10px;
    margin: 10px;
}