* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    background-color: red;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8);
    grid-template-rows: repeat(8);
    gap:5px;
    background-color: black;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__item--1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    &__item--2 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    &__item--3 {
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 8;
   }
   &__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 8;
    }
}