body {
  background-color: #85FFBD;
  background-image: linear-gradient(296deg, #85FFBD 0%, #bcffee 100%);
  width: 60vw;
  margin: 0 auto;
}

.logo-wrapper {
  margin: 1em auto;
}

.center-me {
  margin: 0 auto;
  text-align: center;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

div {
  height: fit-content;
  width: fit-content;
}


/* Styling for the user page */
/* ----------------------------- */
#user-welcome-healdine,
#user-headline {
  text-align: center;
  margin: 0 auto;
}

.question__explanation {
  font-style: italic;
}

.questions-wrapper {
  margin: 0 auto;
}

.question__title {
  font-size: 1.3rem;
}

.input-wrapper {
  margin: 0 auto;
  width: 100%;
}

.button-wrapper {
  margin: 0 auto;
}

#submit-btn, #submit-btn:visited {
  font-size: 1rem;
  margin: 2em auto;
  padding: 1em 1.5em;
  cursor: pointer;
  color: whitesmoke;
  background: #197540;
  font-weight: bold;
  text-decoration: none;
}

.thanks {
  color: green;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
}

/* Input:range - Slider styling */
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #dae900 0%, #a5e0d9 100%);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffffe5;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
  cursor: pointer;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #197540 0%, #80d08d 100%);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}


.thanks {
  display: none
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;

}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

div {
  height: fit-content;
  width: fit-content;
}


#login-headline {
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}

/* Styling for the user page */
/* ----------------------------- */
#user-welcome-healdine,
#user-headline {
  text-align: center;
  margin: 0 auto;
}

.question__explanation {
  font-style: italic;
}

.questions-wrapper {
  margin: 0 auto;
}

.question {
  border: 1px solid black;
  padding: 1em;
  margin: .3em;
  width: 100%;
  text-align: center;
  color: rgba(245, 245, 245, 0.856);
  background:#0094e98c;
  &:hover {
    background:#0094e9b7;
  }
  &__title {
    font-size: 1.3rem;
  }
}


.input-wrapper {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.button-wrapper {
  margin: 0 auto;
}

#submit-btn,
#link {
  //   font-size: 1rem;
  //   margin: 2em auto;
  //   padding: 1em 1.5em;
  //   cursor: pointer;
  //   color: whitesmoke;
  //   background: #197540;
  //   font-weight: bold;
  margin: 0;
  border: solid 1px #23583a;
  background-color: #197540;
  font-size: 16px;
  color: white;
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  text-decoration: none;
}

#submit-btn:hover,
#link:hover {
  background-color: #156938;
  margin: 0;
  border: solid 1px #23583a;
  font-size: 16px;
  color: white;
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  text-decoration: none;
}
/* Input:range - Slider styling */
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #dae900 0%, #a5e0d9 100%);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffffe5;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
  cursor: pointer;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #197540 0%, #80d08d 100%);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

//*register page - form css*

.form-field {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0 0 0;

  &__label {
    font-size: 15px;
    color: #000000;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    float: none;
    text-align: left;
    width: auto;
    display: block;
  }

  &__input {
    background-color: white;
    border: solid 1px darkgrey;
    font-size: 15px;
    color: #757575;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: .5em;
  }

  &__submit {
    margin: 1em auto;
    background-color: #19753fde;
    border: solid 1px #23583a;
    font-size: 16px;
    color: white;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    cursor: pointer;
  }

  &__submit:hover {
    background-color: #197540;
    border: solid 1px #23583a;
    font-size: 16px;
    color: white;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
}

//css for dynamic stuff:
//holder survey belongs to surveylist.html
.holder__survey {

  background-color: white;
  border: solid 1px darkgrey;
  font-size: 15px;
  color: #000000;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  box-sizing: border-box;
}

.holder__survey__header {
  color: #0093E9;
  font-weight: bold;
}

.holder__survey__taskDisplay {
  font-style: italic;
}

.holder {

    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__delete {
      margin: .7em;
      color: rgba(255, 0, 0, 0.568);
      cursor: pointer;
      &:hover {
        color: red;
        background-color: #d3d3d3;
      }
    }
}

.holder__survey:hover {
  background-color: #d3d3d3;
  border: solid 1px #000000;
  font-size: 15px;
  color: #23583a;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

//for surveyedit.html

.questioninfo-holder {
  background-color: #d3d3d3;
  border: solid 1px #000000;
  gap: 1.5em;
  border-radius: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  margin: .5em;
  &__question {
    text-emphasis-style: bold;
  }
}

.averagevotes {
  color: #0093E9;
  }

.numberofvotes {
  color: #800cc3da;
  }

//for surveyvote.html

#survey-title {
  text-align: center;
  color: rgba(255, 0, 0, 0.795);
  font-size: 1.5rem;
}

#log-out {
  position: absolute;
  top: 1vh;
  background-color: rgba(255, 0, 0, 0.609);
  padding: .5em 1em;
  &:hover {
    background-color: rgba(255, 0, 0, 0.781);
  }
}

.yellow-bck {
  background-color: rgba(255, 255, 0, 0.705);
  color:rgb(0, 0, 0);
  
  &:hover {
    background-color: yellow;
    color:rgb(0, 0, 0);

  }
}

.guest-login {
  margin: 5em;
  &>label {
    margin: 1em;
  }
  &>button {
    background-color: rgba(255, 0, 0, 0.698);
    color: white;
    padding: 0.5em;
    margin: 0.5em;
      cursor: pointer;
      &:hover {
        background-color: red;
      }
    }
}

.questioninfo-holder {
  display: flex;
  flex-flow: row;
  width: 80%;
  background-color: whitesmoke;
  &:hover {
  background-color: rgb(235, 235, 235);
  }
}

.survey__ID {
  border-bottom: 1px solid grey;
}

.survey__ID__Title {
  margin: .4em auto;
  font-size: 1.4rem;
}

.my-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1.5em 0;
  & input {
    padding: 0.8em;
  }
}

.s-login-h2 {
  color: gray;
  font-size: 1.3rem
}

.grey {
  color: gray;
  margin: .3em;
}

.orange-bck {
  background-color: rgba(255, 166, 0, 0.76) !important;
  padding: 0.7em !important ;

  &:hover {
    background-color: orange !important;
  }
}