body {
    font-family: sans-serif;
    background-image: url("https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1092571024%2F0x0.jpg%3Ffit%3Dscale");
    background-repeat: repeat;
    background-size: 100vw 100vh;
}

form {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    border: 3px solid black;
    margin-bottom: 1rem;
}

label {
    margin: 0.5rem;
    font-weight: bold;
    font-style: italic;
}

input {
    margin: auto;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    width: fit-content;
    border-radius: 10px;
    font-weight: bold;
}

.button {
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.8rem;
    margin: auto;
    border: 1px solid black;
    margin-top: 10px;
    background-color: white;
}

.button:hover {
    cursor: pointer;
}

.green {
    color: green
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.holder {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;


    &__item {
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-content: center;
        margin: 1rem;
        
        padding: 1rem;
        border-radius: 10px;
        border: 3px solid black;
        margin-bottom: 1rem;


        &__header {
            font-weight: bold;
            margin-top: 1vh;
            margin-bottom: 1vh;
        }

        &__status {
            color: red;
        }
    }
}
@media only screen and (max-width: 900px) {
    body {
       
        background-size: 100vw 50vh;
    }
}
@media only screen and (max-width: 600px) {
    body {
       
        background-size: 100vw 30vh;
    }
}